[2014-03-15 23:21] waldyrious opened #1 "Add Noto font"
The [Noto font](https://code.google.com/p/noto/) is a very promising and ambitious font aimed at covering all scripts in current usage (the name stands for "no tofu") under a visually harmonious font. The stable release covers Latin, Cyrillic and Greek, but more families are [already on track for release soon](http://www.google.com/fonts/earlyaccess) covering several other scripts. "Our current pl

[2014-03-15 23:41] alfredxing commented on #1
Thanks for the suggestion. I'll add it soon!

[2014-03-15 23:54] waldyrious commented on #1
yay! :+1:

[2014-03-16 00:42] alfredxing commented on #1
Done. You might want to test it out.

Reopen if you have any issues!

[2014-03-16 00:42] #1 closed, assigned to alfredxing

[2014-03-16 02:25] waldyrious commented on #1
Thanks for doing this so quickly! I added this to a site I was using Noto on, but didn't notice any improvements:
![Imgur](http://i.imgur.com/T24tCG3.png)

Is this expected?

Also, I find that the page takes longer to load.

([Link to Google Fonts version](http://htmlpreview.github.io/?https://github.com/waldir/learning-holography/blob/56ef58cb15fe97dadae041ab342bce2d6f39b3e1/index.html) / [Link t

[2014-03-16 02:35] alfredxing commented on #1
In this case, Noto is a TTF font, so you won't see a huge difference in rendering (OTF/PostScript fonts usually render better).

Add this CSS; it makes fonts with kerning and ligature data render a lot better:

[code]

As for speed, it is a bit slower since we don't subset, while in your Google Fonts version, you chose to subset with Latin and Latin Extended. Noto, as you mentioned above, contains

[2014-03-16 03:15] catmanjan opened #3 "Ability to set your own example text"
Hi, not sure what the "kiwi jam" thing is, but it would be nice if you could set the text you want previewed on the font page of the web site.

Cool project though, thanks!

[2014-03-16 03:27] alfredxing commented on #3
It is indeed a really nice feature to have. However, this can be achieved in only 2 ways: to load all the fonts or to use a backend image generator. The former would take way too long for the end user, and I don't have the computing power for the latter.

If you know a better way, by all means, tell me! But for now, marking this as `wontfix`.

**ProTip**: A quick way to preview is just to make a q

[2014-03-16 03:27] #3 closed, assigned to nobody

[2014-03-16 03:32] catmanjan commented on #3
It's 2014, loading a megabyte or so of web fonts (asynchronously btw) isn't really an issue.

The images themselves are already half that.

[2014-03-16 03:42] alfredxing commented on #3
It's actually around 6MB; the images are around 400KB.

Although Fastly's infrastructure is extremely stable, I don't want to create 6 megs of bandwidth every time a user visits the site.
:sweat_drops:

I'll think about it some more for sure.

[2014-03-16 03:51] bsdlp opened #4 "Monospace typefaces"
Please add these monospace jawns!
- [x] [Inconsolata](http://levien.com/type/myfonts/inconsolata.html) ef6661ca99feee21ce3585479947ad1cca426392
- [x] [Anonymous Pro](http://www.marksimonson.com/fonts/view/anonymous-pro)
- [x] [Source Code Pro](https://github.com/adobe/source-code-pro)

[2014-03-16 03:52] bsdlp opened #5 "Contributing guide"
I would love to learn how to make contributions to this project.

[2014-03-16 04:00] alfredxing commented on #4
Those were definitely left out. Adding soon!
:+1:

[2014-03-16 04:01] alfredxing commented on #5
It's pretty complicated and my requirements are pretty strict, but here you go: https://github.com/alfredxing/brick/wiki/Contributing

Code contributions are welcome as well, though there's only one file (`index.php`).

[2014-03-16 04:01] #5 closed, assigned to nobody

[2014-03-16 04:45] alfredxing commented on #4
Inconsolata is done. I'll add the other two tomorrow.

[2014-03-16 05:27] bsdlp opened #6 "improve fontforge convert process"
from http://fontforge.org/scripting-tutorial.html:

[code]

You can then run `./convert.pe ./*` to convert all the fonts in the current directory to `.woff`.

[2014-03-16 05:28] bsdlp commented on #6
wups, looks like this is already in the wiki :>

[2014-03-16 05:28] #6 closed, assigned to nobody

[2014-03-16 08:25] gopeter opened #7 "Add Clear Sans"
Please add [Clear Sans](https://01.org/clear-sans) to the list :)
- [x] [Clear Sans](https://01.org/clear-sans)

[2014-03-16 11:15] nagisa opened #8 "Add Huerta Tipografica fonts"
- [x] Alegreya HT
- [x] Alegreya Sans HT
- [x] Bitter HT
- [x] Telex HT Regular

There’s two versions of Alegreya HT, and only the non-OFL counterpart seems to be available from [their website](http://huertatipografica.com/). It looks like that one will have to be taken from [Google Web Fonts repository](https://code.google.com/p/googlefontdirectory/source/browse/ofl/alegreya/src).

[2014-03-16 11:36] 0x-r4bbit opened #9 "Consider renaming the project to something else"
There's already a very popular open source project by mozilla called brick (http://mozilla.github.io/brick/) maybe you wanna rename yours to prevent confusion.

[2014-03-16 13:15] hnrch02 opened #10 "Embedding the fonts as base64 encoded strings"
Have you considered embedding the fonts in the CSS file as base64 encoded strings? Until `HTTP/2.0` request are still pretty expensive.

[2014-03-16 16:19] waldyrious commented on #1
Oh, ok, thanks for the detailed explanation. I made the change as you suggested, and indeed kerning was improved (I don't think Noto has ligatures yet). The smoothness of outlines hasn't, but it's no worse than GF. Would subsetting work for Brick as well? Should I make a separate feature request for that?

[2014-03-16 17:00] alfredxing commented on #1
I'm pretty sure subsetting is a form of modification, and we may run into licensing problems there. But go ahead and make a feature request, we'll see how many people want that and perhaps we can figure out a way.

[2014-03-16 17:08] alfredxing commented on #10
Yes, I have. But: I'm using Fastly, a CDN, reverse proxy, and cache (it runs on Varnish).

Right now, by making separate requests for the fonts, they're able to cache the fonts on the network servers, to be available for any request.
By embedding the fonts as base64, it's a lot harder for the CDN to cache the response, since most people will be using a different set of fonts.

Consider two sites.

[2014-03-16 17:08] #10 closed, assigned to nobody

[2014-03-16 17:11] alfredxing commented on #9
I've never heard of that project before, but it's a valid point.
I'll open a new issue asking for name suggestions with criteria.

If someone comes up with a good name, I'll consider switching, but with a launch a lot more successful than I'd expected, I don't want to rename the project and cause confusion.

Thanks!

[2014-03-16 17:11] #9 closed, assigned to nobody

[2014-03-16 17:14] 0x-r4bbit commented on #9
Thanks :)

[2014-03-16 17:15] alfredxing commented on #8
Those look great, I'll add those soon for sure.

[2014-03-16 17:16] alfredxing commented on #7
:+1:
Adding soon.

[2014-03-16 17:17] waldyrious opened #11 "Allow specifying subsets of the fonts"
This request was triggered by loading the Noto font using Brick (see #1). The Google Fonts version loads faster if a subset is specified (e.g. `&subset=latin`) because the whole font contains characters for several scripts, which makes it large.

If Brick supported loading subsets in a similar manner (maybe a flag?), it would achieve feature parity with Google Fonts in this domain (specifically, l

[2014-03-16 17:18] gopeter commented on #7
Great :smile:

[2014-03-16 17:21] alfredxing opened #12 "Name suggestions"
As @PascalPrecht mentioned in #9, Mozilla already has a popular project called Brick, so I'm taking feedback on whether to rename the project.

Comment with your thoughts on the issue. I'm also taking name suggestions if you want a rename.

Here are the criteria for new names:
1. Must be one word
2. Must have an available and reputable TLD (no `.io` please, they're really expensive. If you want to

[2014-03-16 17:22] alfredxing commented on #11
Details for how this would be implemented are also welcome!
I can't think of an efficient way right now.

[2014-03-16 17:45] alfredxing commented on #12
@fly I'd rather have a TLD that's at least partly recognized as a gTLD. Even better if it's on [this list](https://support.google.com/webmasters/answer/1347922).

[2014-03-16 19:29] curiositry opened #13 "Add Linux Libertine"
I would suggest adding the [**Linux Libertine**](http://www.linuxlibertine.org/) family to Brick. It is a great typeface with all the bells and whistles — small-caps, italics, open-type features, etc.

This looks like a great project!
- [x] [**Linux Libertine**](http://www.linuxlibertine.org/)

[2014-03-16 20:04] azer commented on #12
I also work on a project named Brick: http://github.com/azer/brick (dev branch will show my last commit)

[2014-03-16 20:28] alfredxing commented on #13
Thanks! I'll add that soon.
Note that I'm only considering Linux Libertine's regular text variant and that for now Brick won't support small caps (since `@font-face` requires it to be a separate font family).

[2014-03-16 21:03] alfredxing commented on #13
Added & closing.

[2014-03-16 21:03] #13 closed, assigned to nobody

[2014-03-16 21:14] alfredxing commented on #4
Added Source Code Pro.

[2014-03-16 22:15] bouchard opened #14 "Add Bitter"
It'd be great if you could add Bitter (from Google Fonts), I'm using it for titling. The rendering of brick.im (particularly) on Windows is starkly better, great work!

[2014-03-16 22:18] alfredxing commented on #14
Already requested in #8, closing.

[2014-03-16 22:18] #14 closed, assigned to nobody

[2014-03-16 22:22] bouchard commented on #14
My apologies, he beat me to it. Thanks!

[2014-03-16 22:22] alfredxing commented on #14
No problem, thanks for contributing!

[2014-03-17 00:32] noahbuscher opened #15 "Font Collection"
Possibly a feature that would allow you to pick an choose fonts and add them to a collection that gave you a URL to include them all, just like how [Google Fonts](http://google.com/fonts) does it. I may be able to code this feature this week.

[2014-03-17 00:37] noahbuscher commented on #12
What about gypsum? It's used as a building material to hide up the complex mess of wood planks and wires in a building, much like how Brick obfuscates the messy task of downloading fonts and writing the appropriate CSS for them. Here some domains that you can currently get:
- gypsum.me
- gypsum.cc
- gypsum.ws
- gypsum.im
- gypsum.so

[2014-03-17 00:40] noahbuscher opened #16 "Favicon"
It appears that the [main site](http://brick.im/) does not have a favicon. I do not know if this is intentional or not. Just thought I'd point it out. :smile_cat:

[2014-03-17 02:13] alfredxing commented on #15
That would be awesome!

[2014-03-17 02:14] alfredxing commented on #12
@Codingbean I'll consider it, but I don't particularly like the sound of the word...

[2014-03-17 02:15] noahbuscher commented on #12
Yeah. Just an idea. I'm not the most creative person around. :wink:

[2014-03-17 02:15] alfredxing commented on #16
It is indeed intentional. It's a blank, transparent, 1×1 pixel.

[2014-03-17 02:16] #16 closed, assigned to nobody

[2014-03-17 02:16] noahbuscher commented on #15
Cool! I'll see what I can do later this week. I'm kind of busy with school an another application I'm building, but I should totally be able to make time.

[2014-03-17 02:51] alfredxing commented on #8
Added Bitter

[2014-03-17 04:34] waldyrious commented on #12
How about Woffer? If you're willing to go for ccTLDs, there's `woff.er`, ~~or even wof.fr? :P~~ (update: scratch the latter, it's parked :/)

[2014-03-17 05:29] alfredxing commented on #12
@waldir `.er` won't work, since the TLD is not publicly available (or if it is, it's extremely hard to get one).

[2014-03-17 12:56] waldyrious commented on #12
I got an `.ir` (for wald.ir) a while ago through an Iranian friend, otherwise it would have cost me a lot more (and in any case I think they restrict it to Iranian citizens or companies). I don't know if such a strategy could help in this case, but I thought I'd mention it. But of course that depends on whether you like the name in the first place :)

[2014-03-17 16:28] alfredxing commented on #12
It's an okay name, though I'd like to have something a bit more original (not as obvious).

[2014-03-17 17:06] albertxing commented on #4
Monospace fonts shouldn't have ligatures in the preview

![screen shot 2014-03-17 at 10 06 00 am](https://f.cloud.github.com/assets/2881206/2438827/75d40a5e-adf6-11e3-88af-33375087e929.png)

[2014-03-17 17:23] alfredxing commented on #4
Oops. I'll redo that one.

[2014-03-17 18:23] alfredxing commented on #4
Added Anonymous Pro; closing.

[2014-03-17 18:23] #4 closed, assigned to alfredxing

[2014-03-17 18:27] bsdlp commented on #4
:+1:

[2014-03-17 18:35] alfredxing commented on #7
Added; closing.

[2014-03-17 18:35] #7 closed, assigned to alfredxing

[2014-03-17 18:51] alfredxing commented on #8
Added Telex

[2014-03-17 18:54] alfredxing opened #18 "Suggest new flags!"
I'm taking suggestions for new flags!

Good flags are easy to implement, and ideally, you can implement it yourself (most flags should just be an edit to `index.php`), but it's not a problem if you can't.

[2014-03-17 20:16] waldyrious commented on #12
Yeah, I wasn't terribly excited about it either, but I do think it's better than brick (I mean, does that even have a meaning? Perhaps it's too non-obvious to me) and if somehow we could get hold of an .er domain, that'd be sweet :)

[2014-03-17 23:42] noahbuscher commented on #12
Just another idea: Slate. Think of a website as a blank **slate** that your site adds character to. There's most of the domains taken for this, but here's what's available:
- slate.ws
- slate.so
- slate.bz
- And of course: slate.sexy

[2014-03-18 00:06] alfredxing commented on #12
@Codingbean I like that name, but the TLDs aren't as appealing.

[2014-03-18 00:09] noahbuscher commented on #12
Agreed. You're kind of hard pressed to find a good one-word domain without making something up, or doing something like [Meeet](http://meeet.co) (adding an extra letter) or [Compilr](https://compilr.com/) (changing the spelling).

[2014-03-18 02:18] alfredxing commented on #12
It doesn't have to be a dictionary word; most of those are already taken.

[2014-03-18 12:10] WilliamOckham commented on #12
I suggest Featurizer (font.featurizer.com seems like a great url for this project) and it appears to be available on all the tlds.

[2014-03-18 17:13] bsdlp opened #19 "live preview"
It would be great if the specimen page could utilize the fonts provided by brick and provide a form for a live preview.

For example, font shop's "Enter sample text":

http://www.fontshop.com/fonts/foundry/hurme_design/

In addition, this would eliminate a step in the woff creation process, essentially making it all automated and easy.

[2014-03-18 17:16] alfredxing commented on #19
See @3. It's a big tradeoff, especially when we want to showcase the font's quality as well (Google Fonts compresses its preview fonts even more than what it serves).

[2014-03-18 17:16] #19 closed, assigned to nobody

[2014-03-18 22:53] alfredxing commented on #8
Added Alegreya Sans

[2014-03-19 03:35] vjaykoogu opened #20 "using in rails"
How can i use it on ruby on rails. ?

[2014-03-19 04:14] alfredxing commented on #20
Check the [Usage](https://github.com/alfredxing/brick/wiki/Usage) page in the wiki.

I'm not too familiar with Rails, but I know you need to put the `<link>` tag in the `<head>` section of your layout (usually `application.html.erb`).

You can also Google "use Google Web Fonts in Rails". It's pretty similar; just replace the link asset URL with Brick's.

[2014-03-19 04:14] #20 closed, assigned to nobody

[2014-03-19 05:54] muescha commented on #12
I would open it to a 2 words name and include the main target "font" to the name

[2014-03-19 05:56] muescha commented on #12
btw: brick was a horrible name. If you search for it you never got this repo at google: font brick

[2014-03-19 16:13] alfredxing commented on #12
@muescha I'm mainly targeting the keyword "webfont" here. Anyway, I like doing SEO by popularity, not by injecting keywords at every possibility.

I just checked and we're on the first page of [Google results for the search "webfonts"](http://lmgtfy.com/?q=webfonts), which is pretty good already. And it'll probably rise once this project ages a bit.

[2014-03-19 20:47] hnrch02 opened #22 "Extract font catalog into YAML file"
Continuation of the discussion in #21

If we were to extract the font catalog from the PHP file into its own, dedicated YAML file, we could use that data in Jekyll for GitHub Pages.
I learned that PHP has in fact no native support for parsing YAML so, @alfredxing can you install and use [PECL extension](http://www.php.net/manual/en/book.yaml.php) wherever the PHP file is running?

[2014-03-19 22:56] alfredxing commented on #22
I'm currently unable to install PECL extensions, but Symfony has a YAML component (http://symfony.com/doc/current/components/yaml/introduction.html).

Again, my main concern is speed. Both reading the file and parsing the YAML are the most expensive and second-most expensive parts of the script.

[2014-03-20 00:06] hnrch02 commented on #22
Both these actions would only need to be run once on startup and could then be read from the cache, couldn't they?

[2014-03-20 02:30] alfredxing commented on #22
@hnrch02 True. I'm not too familiar with PHP caching, if you want to implement it feel free to submit a pull request.

There's also the problem of the data file living in the `[gh-pages]` branch, and `index.php` in the master branch.

[2014-03-20 03:04] bsdlp commented on #22
why not simply copy over the jawns from master into gh-pages, and make gh-pages the master branch in GitHub?

[2014-03-20 03:14] alfredxing commented on #22
@fly I wouldn't be too fond of the directory structure, but it would mean we can use Jekyll to generate both `index.php` and `fonts/index.html`...

[2014-03-20 03:21] hnrch02 commented on #22
If I may ask, where is this PHP hosted and are there any other language options than PHP?

[2014-03-20 03:25] bsdlp commented on #22
@alfredxing IMO the directory structure would actually make more sense. index.html in the fonts dir, another index.html in each of the font dirs as well.

[2014-03-20 03:48] alfredxing commented on #22
@fly Then each `index.html` in each font directory would preview the font! Genius!

I'll make the branch changes now; the Jekyll changes will come later once I figure that out.

[2014-03-20 03:54] bsdlp commented on #22
:shipit:

[2014-03-20 06:18] alfredxing commented on #22
Done, marking as closed. Thanks!

[2014-03-20 06:18] #22 closed, assigned to nobody

[2014-03-20 22:03] alfredxing commented on #8
All done! Closing.

[2014-03-20 22:03] #8 closed, assigned to alfredxing

[2014-03-21 07:02] curiositry commented on #12
**Ligature.co?**

It’s available — and even on sale with Godaddy, if you want to go with them for some strange reason.

[2014-03-21 07:54] bsdlp commented on #12
Ligature.co is a great idea IMO, but stay away from godaddy.

Would recommend:
- internet.bs
- gandi.net
- name.com
- namecheap.com

In no particular order

On Friday, March 21, 2014, omphalosskeptic notifications@github.com wrote:

[2014-03-21 20:16] alfredxing commented on #12
@fly Considering it, but it wouldn't really work SEO-wise, even with the phrase "Ligature webfonts"...

[2014-03-24 02:42] alfredxing opened #24 "Add Lato"
Forgot to add Lato in the beginning, will add it soon.
- [x] Lato

[2014-03-26 01:49] jeluard opened #26 "Incorrect response in Usage page"
[Usage](https://github.com/alfredxing/brick/wiki/Usage) mentions response looks like `... url(//brick.a.ssl.fastly.net/ebgaramond/400.woff) ...` but it has been recently modified to `... url(//brick.a.ssl.fastly.net/fonts/ebgaramond/400.woff) ...`.

I would have changed it myself but I don't think you can make pull request for wiki pages.

[2014-03-26 02:21] alfredxing commented on #26
Thanks for telling me about the error!
Hmm, it's called 'wiki' for a reason. You should be able to edit it... Do you see an "Edit" button on the top right?

[2014-03-26 02:30] jeluard commented on #26
I don't actually. Probably only contributors to a project do see it.

[2014-03-26 02:32] alfredxing commented on #26
That's interesting...
Direct quote from the settings page of this repo:

Anyway, I'll look into that and fix it for now.
Thanks!

[2014-03-26 06:04] alfredxing commented on #26
Emailed GitHub support and it seems that I had the "no-edit" box checked for some reason. Th wiki should be editable now!

[2014-03-26 06:04] #26 closed, assigned to nobody

[2014-03-30 01:26] alfredxing opened #27 "Add Old Standard TT"
- [x] Old Standard TT

[2014-04-01 05:02] alfredxing commented on #27
Done! :checkered_flag:

[2014-04-01 05:02] #27 closed, assigned to nobody

[2014-04-01 08:40] WojciechWyszynski commented on #24
Please add also "Titillium Web", it's a very popular font.

[2014-04-01 16:27] alfredxing commented on #24
@Nevide Please open up a separate issue for this; it's a bit easier to keep track. Thanks!

[2014-04-02 17:26] JerrySievert commented on #24
+1

[2014-04-02 17:31] alfredxing commented on #24
@JerrySievert This is where multiple fonts per issue gets confusing... +1 for Lato or Titllium?
I'll add Lato soon, but Titillium might have to wait a bit.

[2014-04-02 17:40] JerrySievert commented on #24
@alfredxing the original issue, of course :)  Lato.  new fonts are new issues.

thanks!

[2014-04-03 05:36] KyleAMathews commented on #12
FWIW, I think brick is fine name. Perhaps not ideal but since it's not objectionable and already has a decent bit of mindshare/googleshare, I don't see any reason to change it.

[2014-04-03 22:33] alfredxing commented on #12
@KyleAMathews Thanks! That's what's I'm thinking too, especially after this long...

Still open to suggestions though!

[2014-04-04 01:12] KyleAMathews opened #29 "Add Domine"
- [x] Domine

[2014-04-04 01:12] KyleAMathews opened #30 "Add Oswald"
- [x] Oswald

[2014-04-04 01:12] KyleAMathews opened #31 "Add Rokkitt"
- [x] Rokkitt

[2014-04-04 01:37] alfredxing commented on #31
Source is https://github.com/vernnobile/RokkittFont/

[2014-04-04 01:37] alfredxing commented on #30
Source is https://github.com/vernnobile/OswaldFont

[2014-04-04 01:38] alfredxing commented on #29
Source is from Impallari: http://www.impallari.com/projects/overview/domine

[2014-04-04 07:36] fluke opened #32 "Add Merriweather"
- [x] Merriweather

https://www.google.com/fonts/specimen/Merriweather
http://www.google.com/fonts/specimen/Merriweather+Sans

[2014-04-04 07:38] fluke commented on #32
https://github.com/EbenSorkin/Merriweather This may be the source.

[2014-04-04 07:39] fluke opened #33 "Add Titillium Web"
- [x] Titillium

http://www.google.com/fonts/specimen/Titillium+Web

[2014-04-04 16:07] alfredxing commented on #33
@kartikluke When adding font sources, please try to find the original. For example, Titillium's 'official' website is here: http://www.campivisivi.net/titillium/

Thanks!

[2014-04-05 05:45] fluke commented on #24
+1

[2014-04-05 06:02] fluke commented on #15
This is definitely needed. I'll try submitting a pull request next weekend.

[2014-04-05 11:48] sgtpep opened #34 "Create and register bower packages"
It could be great to be able to run something like `bower install brick-open-sans` and almost instantly be ready to use it.

But it may require to create separate git repository for each font, because it has no sense to register package with all of brick fonts.

[2014-04-05 15:07] alfredxing commented on #34
I'm not too familiar with Bower, but from what I know, I don't think Brick is suitable for it.
Firstly, there's the multiple repository issue; then there's the issue that Brick is used by adding a `<link>` tag to your HTML pages (I'm not sure Bower can do this), and not a file resource like jQuery.

[2014-04-05 15:18] sgtpep commented on #34
A lot of binary resources already distributed with bower, including custom fonts. Example: http://bower.io/search/?q=open-sans. The only things that package should contain are: .woff file(s), and .css file with @font-face declaration. Optionally, it can contain .less/.scss file, besides .css, which allow you to redefine path to font files with some variable. Example: https://github.com/FontFaceKit

[2014-04-05 15:24] sgtpep commented on #34
Bower is everywhere in frontend now. It's useful not just for speed libraries/resources retrieval, it's for separtion of concerns. So I'd like to use brick fonts in project. I should manually download them and add binary files to repositories of each project, where I want to use them. And update them manually later. The common pattern nowadays it to enlist all required bower components in bower.js

[2014-04-05 20:39] alfredxing commented on #34
@sgtpep I think you're misunderstanding how to use Brick. You don't have to download anything; like Google Fonts, everything is hosted. You just need to reference it.

See the [usage](https://github.com/alfredxing/brick/wiki/Usage) page for more details. If you have any questions about this, feel free to ask!

[2014-04-06 00:35] jess-sol opened #35 "Add Typeface to listings"
It'd be nice to have the type face (serif, sans-serif, monospace, etc) listed with the font.  For example, right now I'm looking for a monospace font for to display code with and it'd be great if I could just search for monospace to find the fonts I'd be interested in.

It seems some have sans or serif appended to the name, but it isn't consistent enough to be able to search on with confidence.

[2014-04-06 04:19] blaenk commented on #32
I hate +1 comments, but seeing as I imagine it'd be useful to have a way to decide which fonts to add, I also want to express that I would love to have Merriweather supported :)

[2014-04-06 05:10] ghost commented on #32
Merriweather ♥

[2014-04-06 05:41] alfredxing commented on #35
Seems like a great idea!
I'll likely be working on a new site/interface soon, so stay tuned!

[2014-04-06 05:44] alfredxing commented on #32
@blaenk +1 (:+1:) comments are useful, especially when it comes to something like requesting fonts. It lets me gauge the demand for a font so I know which ones to prioritize.

@davidossahdez I know, I know. I'll be adding it :soon:!

[2014-04-06 20:28] alfredxing commented on #24
Done! I also added a webhook so that the server pulls with every push automatically (instead of me having to log in to manually do it).

[2014-04-06 20:28] #24 closed, assigned to alfredxing

[2014-04-06 20:33] JerrySievert commented on #24
Awesome!  Thanks much, and great work!

:thumbsup:

[2014-04-06 21:48] fluke commented on #24
Excellent.

On 7 April 2014 02:03, Jerry Sievert notifications@github.com wrote:

[2014-04-07 05:24] jakeburden commented on #12
Silica.io [is available](https://domai.nr/silica/with/silica.io), silica [doesn't seem to be popular project name on github](https://github.com/search?p=2&q=silica&type=Repositories), and silica is [what bricks are mostly made of](https://en.wikipedia.org/wiki/Brick#Methods_of_manufacture).

I also think Brick is a fine name.

[2014-04-07 05:53] alfredxing commented on #24
@JerrySievert @kartikluke Thanks!

[2014-04-07 06:11] alfredxing commented on #12
@JacobJWBurden Seems to be a bit unrelated, though, despite it being the compound that makes up bricks. "Brick" is more of a generic term, and here I intend it to mean strong, sturdy, classic, simple, and a part [of something bigger].

[2014-04-07 11:46] bloccxx opened #37 "Add Playfair Display"
- [x] Playfair Display

Would love to have em!

[2014-04-07 11:54] iangeek commented on #37
+1 for Playfair Display. Be good to have a serif with more didone-like contrast and ultra-heavy weight

[2014-04-07 13:13] bsdlp opened #38 "Add Comic Neue"
- [ ] Comic Neue

http://comicneue.com/

http://comicneue.com/comic-neue.zip

[2014-04-07 18:53] alfredxing commented on #38
Umm...
Marking for feedback from others.

[2014-04-07 18:56] alfredxing commented on #37
Looks good!
@panameraa Can you make a separate issue for each font though? It's easier to keep track that way. This one will be for Playfair.

Official website: http://www.forthehearts.net/typeface-design/playfair-display/
Source files: http://googlefontdirectory.googlecode.com/hg/ofl/playfairdisplay/src/

[2014-04-07 19:26] bloccxx opened #39 "Add Muli"
Muli

https://www.google.com/fonts/specimen/Muli
Source files: https://github.com/vernnobile/MuliFont

[2014-04-07 19:37] bloccxx opened #40 "Add Karla"
Karla

http://www.google.com/fonts/specimen/Karla
Source code: https://code.google.com/p/googlefontdirectory/source/browse/karla/?r=933898898b4eda54667fd5a52af8a3644c419432#karla%253Fstate%253Dclosed

[2014-04-07 19:39] bloccxx commented on #37
Added new issues.
Thank you!

[2014-04-08 22:35] RussellSprouts opened #41 "Local fallback breaks italics"
I have a site that uses EB Garamond, and on my machine italics do not work. I have EB Garamond installed locally. The local fallback for EB Garamond loads the "EB Garamond 12 Regular" font, so nothing is italicized.

[code]

[2014-04-09 03:13] alfredxing commented on #41
Wow. Nice catch! I can't believe I let a bug of this size slip through. Just fixed in b63830d947e4794d7541ee67194afa901e2dee5d. Let me know if this works for you.

Also, a side note that EB Garamond doesn't come in bold.

[2014-04-09 03:13] #41 closed, assigned to nobody

[2014-04-09 04:39] alfredxing commented on #32
Added. Enjoy!

[2014-04-09 04:39] #32 closed, assigned to alfredxing

[2014-04-09 06:46] alfredxing commented on #37
Added in commit d36719f3e49c3af8afc9109cda5768a95bccb9ce. Enjoy!

[2014-04-09 06:46] #37 closed, assigned to nobody

[2014-04-09 07:28] bloccxx opened #42 "Add PT serif"
- [x] PT Serif
- [x] PT Sans

Source code and website: http://www.paratype.com/public/

[2014-04-09 17:38] alfredxing commented on #42
I'll add PT Sans as well.

[2014-04-11 02:23] niutech commented on #38
+1 for adding Comic Neue to the CDN. It would be used by [Comic Sans Replacer](https://github.com/niutech/comic-sans-replacer) for faster loading times.

[2014-04-11 02:51] alfredxing commented on #38
@niutech For your usage I recommend creating an official Chrome extension with the font packaged in, since even developer extensions get disabled by the browser automatically on startup.

[2014-04-11 03:37] ghost opened #43 "Specimen page for each font"
Although I can go to Google to see a sample specimen page for each font on brick.im, it will be useful to have them in the brick site itself. The user can click the image preview and land in a page similar to this: http://brick.im/preview/brick.html but for every font on the site. Those specimen pages are really useful to check the readability of the fonts before using them.

[2014-04-11 03:45] alfredxing commented on #43
@davidossahdez I've been thinking about this as well, but it adds a great deal of work to the font uploading process. Do you know of a way to automatically generate these pages with Jekyll?

[2014-04-11 04:35] ghost commented on #43
@alfredxing Sorry but I've never used Jekyll before

[2014-04-11 07:27] niutech commented on #38
Comic Sans Replacer is now in Chrome Web Store (https://chrome.google.com/webstore/detail/comic-sans-replacer/hogcjpgnoecbkmbamlakaacafkloopbn) and Comic Neue is on jsDelivr CDN (http://www.jsdelivr.com/#!comic-sans-replacer).

[2014-04-11 16:33] alfredxing commented on #43
@davidossahdez That's fine. Leaving open for suggestions.

[2014-04-11 23:55] RussellSprouts commented on #41
Yep, it looks good for me. I've also removed the reference to EB Garamond 700 from my stylesheet import, so it won't try to load it. Thanks!

[2014-04-13 09:53] jpjoki opened #44 "Font-weight is given an invalid value with italic fonts, causing wrong weights to be rendered"
I noticed that the values given to font-weight in each @font-face rule are directly from the URL parameters.

An example: http://brick.a.ssl.fastly.net/Linux+Libertine:400,400i

For the italic variant in that request, the font-weight is 400i. This is an invalid value, which means that the heaviest font loaded will be used for rendering all italics.

Looking at the following examples shows how this

[2014-04-13 10:18] iangeek commented on #44
I'd spotted this symptom on Playfair Display also, but hadn't narrowed down the cause. Good spot @jpjoki

[2014-04-13 18:04] alfredxing commented on #44
Sorry about that, it's a bug resulting from the bug fix in b63830d947e4794d7541ee67194afa901e2dee5d.

Fixed in commit 597d2a8f05349e12b3fc47695883cc38afba29c6. I'm purging the cache now.

Thanks for the report!

[2014-04-13 18:04] #44 closed, assigned to nobody

[2014-04-14 22:33] curiositry commented on #38
+1 for a tasteful comic font.

[2014-04-14 23:37] alfredxing commented on #38
@niutech I like how you listed the extension under "accessibility". :clap:

Due to popular demand, I'll add it.

[2014-04-15 21:29] alfredxing commented on #38
Added, closing. Enjoy!

[2014-04-15 21:29] #38 closed, assigned to nobody

[2014-04-15 21:42] alfredxing commented on #40
Added. Enjoy!

[2014-04-15 21:42] #40 closed, assigned to nobody

[2014-04-18 00:30] alfredxing opened #46 "Site redesign"
#### Backstory

The original site was thrown together in an hour during one of my classes (actually, a lab portion of of one of my computer science classes).

I honestly didn't expect to reach this level of popularity and usage. I didn't expect to reach the front page of Hacker News. Nor more than 2,000 stars on GitHub (thanks to everyone for supporting this project by the way!).

Thus, the site w

[2014-04-19 06:56] cures opened #47 "Add Gentium Book Basic"
- [ ] Add Gentium Book Basic

Original Source: http://scripts.sil.org/cms/scripts/page.php?item_id=Gentium_basic

Downloads are at the bottom of the page. Thanks

[2014-04-19 20:29] BorisKourt opened #48 "Ligature version of Source Code Pro [Hasklig]"
This is an interesting project: https://github.com/i-tu/Hasklig

Allows for ligature support of various common code symbols:
![image](https://raw.githubusercontent.com/i-tu/Hasklig/master/hasklig_example.png)

Is it a good idea to add it?

[Another edit, looks like the author has renamed it to _Hasklig_]

[2014-04-19 23:39] alfredxing commented on #48
This is a great project, but not many editors support it yet (including Sublime Text). I'll mark this for feedback to see what others think.

[2014-04-20 02:35] BorisKourt commented on #48
Updated my first post to fix the image.

The font looks quite good for code snippets in-browser as well.

[2014-04-25 20:54] alfredxing opened #49 "Inconsolata font file name incorrect"
The file name should be `500.woff`, not `400.woff`. Will fix very soon.

[2014-04-25 23:33] alfredxing commented on #49
Fixed.

[2014-04-25 23:33] #49 closed, assigned to alfredxing

[2014-04-30 20:25] alfredxing commented on #47
Added Gentium Basic in 64dc9c7cf1e355d40e433cec6e2b9c8e6273c1cf.

[2014-04-30 20:25] #47 closed, assigned to nobody

[2014-05-01 16:32] alfredxing commented on #42
Added both in commit da625a682021673cc1df7d4eb91e5f1106ef9c1d.

[2014-05-01 16:32] #42 closed, assigned to nobody

[2014-05-01 16:55] #46 closed, assigned to nobody

[2014-05-03 02:23] alfredxing commented on #29
Added in commit 01d10131815d53df931b4d3b11be263ddd202690.

[2014-05-03 02:23] #29 closed, assigned to nobody

[2014-05-04 18:40] alfredxing opened #50 "Help classify fonts!"
I'm working on an enhanced version of the catalogue, which will allow everyone to filter by certain font properties.

For now I've added the classification (serif, sans serif, or monospace) and suggested usage (display or body). While all of the classification fields are filled out, most of the usage fields are blank (for you to fill out!).

Feel free to fill these out and/or add more properties (

[2014-05-07 18:34] simonwiles opened #51 "Font Suggestion: Add Linux Biolinum"
- [ ] Linux Biolinum

Thank you for providing such a great service, and in particular for making the awesome Linux Libertine available.  Would you also consider adding its sister font, Linux Biolinum, to the collection?  Like Linux Libertine, it's GPL and OFL, and the homepage is here: http://www.linuxlibertine.org.

These two fonts are especially useful for the complete set of diacritical marks t

[2014-05-07 20:48] alfredxing commented on #51
Thanks! Adding Biolinum to the queue.

[2014-05-07 21:05] simonwiles commented on #51
Cheers :)  I'd do the pull request, but I can't work with the .ai file (it won't open properly in Inkscape).

[2014-05-07 23:40] alfredxing commented on #51
@simonwiles You can send in the pull request and I can add that in later if you'd like.

[2014-05-17 00:16] curiositry opened #54 "Add Source Serif Pro"
Another adobe font designed to pair with Source Sans Pro.

Find it here: https://github.com/adobe/source-serif-pro

[2014-05-17 02:25] alfredxing commented on #54
Is this new? Great!

[2014-05-17 03:03] curiositry commented on #54
Yep — first commit 8 days ago. Looks like a nice font, too!

[2014-05-17 19:13] #51 closed, assigned to nobody

[2014-05-17 19:41] alfredxing commented on #54
I'll download from http://sourceforge.net/projects/sourceserifpro.adobe/ since that seems to be where the actual releases are.

[2014-05-18 12:45] creotip commented on #33
+1 for Titillium

[2014-05-20 15:35] hbarnwheeler opened #56 "Raleway 600 woff file 0 bytes"
Raleway 600 does not exist (woff file of 0 bytes).  All other weights appear to be there.

[2014-05-20 17:16] alfredxing commented on #56
Thanks for the bug report! I'll fix it as soon as I can.

[2014-05-20 19:47] hbarnwheeler commented on #30
One more vote for Oswald.

[2014-05-20 20:03] alfredxing commented on #56
Fixed in referenced commit. Thanks again for the report!

[2014-05-20 20:03] #56 closed, assigned to alfredxing

[2014-05-21 13:44] hbarnwheeler commented on #56
I'm still getting a 0 byte woff file.  Perhaps this is a fastly caching issue?

[2014-05-21 23:22] alfredxing commented on #56
Hmm, shouldn't be. I'm getting the right one now. I've cleared the Fastly cache for the file just in case, but try clearing your browser cache as well.

[2014-05-21 23:26] hbarnwheeler commented on #56
It's working now.  I tried clearing browser cache before and that didn't help.  Thanks.

[2014-05-23 16:32] alfredxing commented on #54
Added in referenced commit.

[2014-05-23 16:32] #54 closed, assigned to nobody

[2014-05-28 06:03] ColeTownsend opened #57 "Computer Modern Concrete"
This would be super to have. I've tried serving it and it's always slow.

[Source](http://checkmyworking.com/cm-web-fonts/)

[2014-05-29 04:38] alfredxing commented on #57
Awesome, we'll see if anyone else is interested (otherwise I'll add it later).
Would you consider this slab serif or serif?

[2014-05-29 13:46] ColeTownsend commented on #57
It’s definitely a slab serif, albeit a bit on the less weighty side compared to most.

[2014-06-02 15:20] Kikobeats opened #58 "Add Gotham font?"
link related:

http://thenextweb.com/twitter/2014/05/31/twitter-com-says-goodbye-helvetica-neue-hello-gotham/

http://www.theverge.com/2014/5/30/5766106/twitter-quietly-changes-its-font-from-helvetica-neue-to-gotham

[2014-06-02 15:53] Kikobeats commented on #58
Ok the problem is the license. Shit.

[2014-06-02 15:53] #58 closed, assigned to nobody

[2014-06-03 03:57] alfredxing commented on #58
I wish it was free too :cry:

[2014-06-04 18:05] alfredxing commented on #33
Added in 974e920863617e282ed2808da8d169dc4cff7553.

[2014-06-04 18:05] #33 closed, assigned to nobody

[2014-06-05 19:44] unr opened #59 "Add in support for Fira Mono"
Fira Sans has already been included, but what about the Mono!

[You can see it at the bottom of the Fira Page](http://mozilla.github.io/Fira/)

[2014-06-06 20:42] alfredxing commented on #30
Added in c2ff382fda491fca6838ceccd5e869464e70ae07. Enjoy!

[2014-06-06 20:42] #30 closed, assigned to nobody

[2014-06-13 17:49] nagisa opened #60 "Add math fonts"
- [ ] [XITS Math](https://github.com/khaledhosny/xits-math) or [STIX Math](http://sourceforge.net/projects/stixfonts/)
- [ ] [Latin Modern Math](http://www.gust.org.pl/projects/e-foundry/lm-math)

See [this MDN page](https://developer.mozilla.org/en-US/docs/Mozilla/MathML_Project/Fonts).

[2014-06-14 18:42] alfredxing commented on #60
What would these be used for? From what I understand, raw MathML only works in Firefox (Gecko).

[2014-06-14 18:50] nagisa commented on #60
It also is supposed to work in Safari, but yeah, these are usable mostly for MathML. MathJax can use STIX fonts if they are already available too.

[2014-06-15 04:48] alfredxing commented on #60
Cool. I'll wait to see if there is any more support for adding these fonts (you can also submit a pull request if you have the tools as per the [contributing guidelines](https://github.com/alfredxing/brick/wiki/Contributing#adding-fonts-via-pull-request).

[2014-06-19 01:01] alfredxing opened #62 "GitHub Pages doesn't support Jekyll collections"
Emailed Support about this. According to [this page](https://pages.github.com/versions/), Pages uses Jekyll 1.5.1, which doesn't yet have collections support.

I'm waiting for their reply, but I guess for now the new fonts page won't be working. Sorry!

[2014-06-19 04:54] curiositry opened #63 "Catalogue link is 404"
http://brick.im/fonts/ goes to "There isn't a GitHub Page here."

[2014-06-19 16:20] namanyayg commented on #63
Same.

Edit: Seems like #62 is the cause. Oh well.

[2014-06-19 16:50] alfredxing commented on #63
Yeah, as @namanyayg mentioned, it's due to Jekyll being outdated on their side (#62). I've gotten an email response back from them, the rough response is posted in that issue.

Closing as duplicate.

[2014-06-19 16:50] #63 closed, assigned to nobody

[2014-06-19 16:52] alfredxing commented on #62
I got an email back from Support (pretty quick!), and they said that they're working on upgrading to Jekyll 2.0, but can't give an exact date on when it's happening.

For now, I'll build locally and push the built files. I guess I have to do this since `brick.php`, which actually manages the requests, needs to use collections as well after the recent change.

[2014-06-19 17:03] alfredxing commented on #62
Okay, with 91c7f5769a164178472e5adb64e1c8933b79008c I pushed my compiled version of the `fonts/index.html` page, and it seems to be working. However, you can't currently click through to the fonts' specimen pages, since pushing those individually would be too much of a pain (we'll wait until the Jekyll upgrade).

With the built version, the entire page (bucket and all) is working, so go ahead and

[2014-06-20 11:50] namanyayg commented on #62
Any thoughts on an alternate layout that shows a sentence instead of 'Aa'? I'll be willing to work on the layout,  but I can't find any info on how to contribute to the site's design, just submitting fonts. Imagining something like Google Fonts.

[2014-06-20 17:07] alfredxing commented on #62
@namanyayg I went with "Aa" because it's a bit easier to go through the whole list of fonts, but if you want to work on the layout, go ahead! The catalogue page is `_fonts/index.html`; it's generated with Jekyll, so you'll probably need to work with that.

Maybe we can have an option to toggle between "Aa" and a sentence, but I'm still not too sure about loading all of the fonts for that use (we u

[2014-06-20 17:11] namanyayg commented on #62
Awesome, I'll have a go. I admit I don't have much Jekyll experience, though.

[2014-06-20 17:14] alfredxing commented on #62
@namanyayg It's not too hard, you can just follow what I did. I'm guessing most of your changes will be to the CSS anyway.

[2014-06-20 17:15] namanyayg commented on #62
@alfredxing CSS and JS, yup. Thanks for the info!

[2014-06-24 00:46] ErnWong commented on #60
From what I know, MathJax requires the maths fonts to be split up into smaller font files, otherwise the OpenType maths fonts are too big to be transferred over the internet. MathJax only loads the files needed.

Also, MathJax needs the data about its fonts in order to be able to typeset them properly (i.e. a file called `fontdata.js`). They provide their own host for the maths fonts at cdn.mathja

[2014-06-24 02:17] curiositry opened #66 "Add to bucket doesn’t work in Firefox 30"
The + (add to bucket) buttons are not working for me. I’m running the latest firefox on Ubuntu 14.04 LTS; I tested it in Chromium and it worked fine, though.

[2014-06-24 04:05] alfredxing commented on #66
Can you open DevTools and see if there are any error messages?

[2014-06-24 07:55] curiositry commented on #66
No errors are thrown.

I was wrong about it not working at all; it does add to the bucket (I just discovered), but the bucket counter doesn’t update, it and it fails to generate the CSS when you select weights.

I threw some screenshots up here: http://imgur.com/a/Z0uEH#0

I added Alegreya, and the counter didn’t update; then I opened the bucket and you can see that it failed to generate the CSS,

[2014-06-24 15:04] alfredxing commented on #66
Interesting... What's the value of the global variable `bucket` at that point (you can check with the JS console).

[2014-06-24 16:50] curiositry commented on #66
Bucket is an empty object.

[2014-06-24 18:22] alfredxing commented on #66
Okay, I seem to have found the issue. It's with Firefox not supporting `innerText`, which I use all over the place. I don't have much time right now, but I'll replace all instances of `innerText` with `innerHTML` soon.

[2014-06-24 19:34] hnrch02 commented on #66
How about [`textContent`](https://developer.mozilla.org/en-US/docs/Web/API/Node.textContent)?

[2014-06-24 21:07] alfredxing commented on #66
Yeah, `textContent` would work. Thanks!

[2014-06-24 22:12] alfredxing commented on #66
Should be fixed in 6631d303d05fa4e861c3cae6d2ebd840393dc7a3. Let me know if you're still having issues!

[2014-06-24 22:12] #66 closed, assigned to nobody

[2014-06-24 23:35] curiositry commented on #66
Good. It works now.

[2014-06-30 15:25] jamiewilson opened #67 "Font links from Brick.im go to GitHub 404"
For example: http://brick.im/fonts/crimson/

[2014-06-30 16:02] alfredxing commented on #67
Yeah, this is because of #62... Any suggestions in the meantime?

[2014-07-04 06:02] KyleAMathews opened #68 "Add Lora"
http://www.cyreal.org/2012/07/lora/

Used on BoingBoing e.g. http://boingboing.net/2014/07/03/if-you-read-boing-boing-the-n.html

[2014-07-04 17:17] alfredxing commented on #31
Added, sorry for the long wait!

[2014-07-04 17:17] #31 closed, assigned to nobody

[2014-07-04 17:31] KyleAMathews commented on #31
Awesome! Thanks!

[2014-07-04 17:58] alfredxing opened #69 "Switching branches"
Due to #67 and #62, I'm going to switch the default branch (currently `gh-pages`) to `master`, then publish a locally-generated site to the `gh-pages` branch. This will ensure that the site is complete (the links to individual font specimen pages will work).

I'll post an update on this issue as soon as this change is in effect (very soon), then close the issue after a week or so.

**:warning: Upd

[2014-07-04 18:12] alfredxing commented on #69
Okay, everything's done now. The 'source' is now in the `master` branch, and the generated site in`gh-pages`.

[2014-07-04 18:17] alfredxing commented on #67
After #69 this should be working now.

[2014-07-04 18:17] #67 closed, assigned to nobody

[2014-07-04 18:18] alfredxing commented on #62
With #69, the site is working, but I'll keep the issue open because I'd still like to go back to only needing one branch (and GitHub did say they were working on updating Jekyll).

[2014-07-04 18:27] OutThisLife commented on #24
Is it just me or does the Lato look really bad?

From Google Fonts: http://d.pr/i/KY7t
From Brick: http://d.pr/i/YExN

[2014-07-04 18:32] alfredxing commented on #24
@OutThisLife That does look bad. What browser/OS?

[2014-07-04 18:33] OutThisLife commented on #24
Windows 7, FF 30

[2014-07-04 18:34] alfredxing commented on #24
Interesting, especially for Firefox... How does [this page](http://brick.im/fonts/lato/) look?

[2014-07-06 21:32] alfredxing commented on #39
Added, sorry for the wait!

[2014-07-06 21:32] #39 closed, assigned to nobody

[2014-07-07 16:58] jamiewilson commented on #67
Awesome! Thanks.

[2014-07-07 20:16] curiositry opened #70 "Add inter-brick pairing suggestions."
What about adding suggested pairings to the font catalogue? Your could have a little voting system for users, or anyone who considers they’re an expert could add them with GitHub.

One of the best things about Brick is that it is exclusive; it doesn't have (many) low quality fonts, and it had just enough good type families that you can find something that fits the mood of your project.

However, b

[2014-07-07 20:16] curiositry commented on #68
Lora’s a great font IMHO — not a full family, but it has the essentials. + 1 for adding it.

[2014-07-07 20:28] alfredxing commented on #70
This would be great!
It could just be as simple as adding another line of metadata to the YAML matter. How do you think the voting system could be implemented, though? Perhaps through issues?

[2014-07-07 21:29] curiositry commented on #70
You use something custom (there must be a PHP voting script out there), or just use issues and polls — maybe something like this [poll for Alegreya Pairings](http://hixup.com/#/32Kh) to easily find what people think are the best x number of pairings.

[2014-07-07 23:08] alfredxing commented on #68
Added, thanks for the suggestion!

[2014-07-07 23:08] #68 closed, assigned to nobody

[2014-07-10 14:39] iangeek opened #71 "Font request: Josefin Sans - a geometric/deco-ish sans serif"
Catalogue is looking good now, and a good practical set. The Sans grouping is a bit heavy on the humanist fonts though, which means its a great selection for body copy but lacking many aesthetically interesting or on-trend options for headings and the like (e.g commercial fonts like Brandon Grotesque, Gotham, Futura and the like).

Could I nominate [Josefin Sans](http://www.fontsquirrel.com/fonts/

[2014-07-10 16:58] alfredxing commented on #71
Sure, thanks for the suggestion! I'll get on to it soon.

[2014-07-10 17:53] alfredxing opened #72 "Switching branches (again)"
Just another notice that we'll be switching back to using `gh-pages` as default again, since I found a way for that to work (no more Jekyll collections).

Right now the code is in `fix-jekyll]`, but I'll be merging the branch with `gh-pages` and getting rid of `master` soon.

I expect a tiny bit of downtime for the Brick site _only_, and no downtime for the actual font serving.

[2014-07-10 17:54] alfredxing commented on #69
:warning: Please see #72!

[2014-07-10 17:54] #69 closed, assigned to alfredxing

[2014-07-14 12:45] namanyayg opened #74 "Lil Grotesk - Font Suggestion"
[Lil Grotesk](http://openfontlibrary.org/en/font/lil-grotesk)

The regular weight is especially good, and can be used as headings for sure.

I'd classify it as Grotesque, Heading, Sans-serif.

[2014-07-14 12:47] namanyayg opened #75 "Liberintage - Font Suggestion"
[Liberintage](http://openfontlibrary.org/en/font/libertinage)

A serif fit for use on body, has a _lot_ of styles.

Open font license.

[2014-07-14 12:48] namanyayg opened #76 "Sorts Mill Goudy Regular - Font Suggestion"
[Sorts Mill Goudy Regular](http://openfontlibrary.org/en/font/sorts-mill-goudy)

Serif fit for body use. MIT License. Has _beautiful_ italics.

[2014-07-14 12:50] namanyayg commented on #50
404 on the link?

Is there any one single data file, or have they moved to individual sections (Like [Oswald's](https://github.com/alfredxing/brick/blob/catalogue/_fonts/oswald/index.html), for example)?

[2014-07-14 15:46] alfredxing commented on #50
Sorry about that. All of the fonts week classified already; this issue should have been closed.

Thanks for bringing this up!

[2014-07-14 15:46] #50 closed, assigned to nobody

[2014-07-25 20:22] elliottslaughter opened #78 "Cardo - Font Suggestion"
Homepage: http://scholarsfonts.net/cardofnt.html

Google Web Fonts entry: https://www.google.com/fonts/specimen/Cardo

A font for "classicists, Biblical scholars, medievalists, and linguists".

Open font license.

[2014-07-25 23:20] curiositry commented on #78
+1

[2014-07-27 17:54] alfredxing commented on #78
Added, here's the specimen page (please test it out and tell me if you have any rendering issues, etc.): http://brick.im/fonts/cardo/

[2014-07-27 17:54] #78 closed, assigned to nobody

[2014-07-27 22:01] curiositry commented on #78
Looks like the fi ligature in **overfilled** is there for the normal and italic, but not the bold. It might be a problem with the font itself, though.

[2014-07-27 22:16] elliottslaughter commented on #78
According to the release notes for the font, this is "The first Cardo bold ever; limited character set but functional for many things such as headings." So I'm guessing that ligatures are not part of the "limited character set".

[2014-07-28 02:25] alfredxing commented on #78
@omphalosskeptic @elliottslaughter Nope, just checked the font and it doesn't seem the bold version has an `fi` ligature, though the `ff`, `ffi`, and `ffl` ligatures are there.

[2014-07-29 09:35] fluke opened #79 "Fonts still look bad on Chrome on Windows"
![image](https://cloud.githubusercontent.com/assets/3857139/3732953/eab613e2-1702-11e4-840a-d27ed83187b5.png)
As you can see this Merriweather image has a lot of artifacts. The solution used to be to download the font and use the svg file as the default rather than the other formats. Is it possible for you to do the same? As noted here its possible to specifically target webkit browsers with svg.

[2014-07-29 15:03] fluke commented on #79
I just noticed that the readme specifies that you serve woff files specifically. But I still feel that you could provide a solution for this with your current setup and you'll make a lot of people happy.

[2014-07-30 17:51] #72 closed, assigned to nobody

[2014-07-30 17:53] alfredxing commented on #79
I think providing SVG as an option would be a good idea. At the very beginning of Brick (before it even officially launched, I think), users had the option to choose between TTF, OTF, WOFF, and SVG (or all of them), but it ended up taking way too much space in the repository.

[2014-07-30 19:36] fluke commented on #79
Sure. But I still think woff is a good format. We just need to provide svg
as well with the media query to target it. I'd like to help to set this up.
How can I contribute?
On 30-Jul-2014 11:23 pm, "Alfred Xing" notifications@github.com wrote:

[2014-07-30 19:46] alfredxing commented on #79
It's going to be tough getting all the SVG's, but you can get started on the PHP if you'd like. You'll want to look over the existing code to understand it, and add an `s` flag to trigger inclusion of the SVG file with the media query.

[2014-07-30 20:11] fluke commented on #79
I was gonna get fontforge. Can't we just convert the current woffs to svg?
I can help out with that as well.
On 31-Jul-2014 1:16 am, "Alfred Xing" notifications@github.com wrote:

[2014-07-30 20:20] iangeek commented on #79
Just an aside, but the current build of Canary looks to have resolved the font anti-aliasing issue so the problem may be moot before too much longer.

[2014-07-30 20:25] iangeek commented on #79
Info here - http://blog.chromium.org/2014/07/chrome-37-beta-directwrite-on-windows.html

[2014-07-30 20:32] pygy opened #80 "Aleo Italics kerning."
There are several places were the kerning of Aleo Itlaics is wrong.

See `over filled` and `cry stall` below.

![screen shot 2014-07-30 at 10 29 50 pm](https://cloud.githubusercontent.com/assets/54515/3755793/73ac947a-1828-11e4-8cef-ba2cf408d418.png)
![screen shot 2014-07-30 at 10 30 00 pm](https://cloud.githubusercontent.com/assets/54515/3755794/73b2da38-1828-11e4-8afa-0db109e3b859.png)

Beside t

[2014-07-30 21:34] alfredxing commented on #79
@iangeek You're right; it's on Chrome Beta as well, so it's probably not long before it moves to stable as well.

@kartikluke It's a bit complicated because the SVG fonts FontForge generates are missing a line of code that makes it incompatible with Chrome (so you'll need a more advanced script). I'll get back to you on that.

[2014-07-30 21:36] alfredxing commented on #80
The `fi` is a ligature (it's supposed to be like that). Not sure about the `ys` though, but I think it's a problem with the font itself and not brick. Any thoughts @AlessioLaiso?

[2014-07-30 21:57] fluke commented on #79
@iangeek Just when I thought I'd found the perfect solution. But it was a pretty glaring error given that they provide a most widely used webfonts. And they didn't allow us to source the svg version. I still think this is a good idea even if only for a month or so till it rolls out. If only to save me a bit of trouble on my projects.

[2014-07-30 21:58] AlessioLaiso commented on #80
Thanks for the suggestions.
/r and /fi look very apart and should be fixed.  The kerning between /y and /s could be slightly improved too. I'm very busy at the moment, but I will do it as soon as I manage, or you could do it if you know how to.

If you have other suggestions, please let me know.

[2014-07-30 23:37] alfredxing commented on #80
@AlessioLaiso Thanks! I have no idea :stuck_out_tongue:

[2014-07-31 01:20] pygy commented on #80
Sadly, I don't know how to edit fonts, and have no time to learn it ATM.

400i is fine, btw, and so are the roman fonts.

http://brick.im/fonts/aleo/

[2014-08-01 20:32] curiositry opened #82 "Add Ubuntu Font Family"
The Ubuntu font family, designed by Dalton Maag, is one of my favourite sans-serif typefaces — and it’s distributed under an open licence!

Here’s the info:
- [Official Site](http://font.ubuntu.com)
- [License](http://font.ubuntu.com/licence)
- [Ubuntu on Google Fonts](https://www.google.com/fonts#UsePlace:use/Collection:Ubuntu)
- [Foundery](http://www.daltonmaag.com/)

[2014-08-01 23:54] alfredxing commented on #79
I'll be developing this issue on the [svg-fonts](https://github.com/alfredxing/brick/tree/svg-fonts) branch. It'll probably take some time.

[2014-08-05 02:02] alfredxing commented on #79
@kartikluke Added all of the SVG fonts and added a proper `<svg>` tag to each, but the `<font>` tag on each still needs to be changed. Do you want to do that?

[2014-08-05 12:07] iangeek opened #84 "Muli fonts showing as serif fallback for most weights on Chrome"
This can actually be seen on http://brick.im/fonts/muli/.

Italics and 200 weight is fine, but all other non-italics are falling back to a serif on Win7 Chrome. Looks to be fine on Firefox. Not sure if this is a local issue or to do with any Chrome-targetted updates.

[2014-08-05 15:14] alfredxing commented on #84
Hmm, looks fine for me on Chrome (OS X 10.9). Did you try clearing your cache in Chrome?

[2014-08-05 15:51] fluke commented on #79
Sorry, I don't have access to stable internet for a couple of days or so.
So I'll look into it as soon as I can.

[2014-08-05 15:57] iangeek commented on #84
Brand new Windows 7 system (only set up out of the box last night), so nothing even cached yet :) But I've cleared the cache anyway, and still no ball (see below).

Fine on Canary though, so guessing its something to do with the current Windows Chrome build again. Put it on back-burner for now in that case...

![muli](https://cloud.githubusercontent.com/assets/1556882/3814144/e24ab65c-1cb8-11e4-8a

[2014-08-05 17:12] alfredxing commented on #84
Just booted up my Windows 8.1 machine and I can reproduce. I'll check the font files themselves as soon as I can.

[2014-08-10 17:22] alfredxing commented on #79
OK, I made a short [Python script](https://gist.github.com/alfredxing/527e07f2d0429f4a063f) to replace all the font ID's and incorrect SVG tags, and ran it through. I'll check `brick.php` again and test the whole thing out!

[2014-08-10 17:37] alfredxing commented on #79
Tweaked the PHP file a bit and everything should be okay. I'll submit a PR to merge this branch into master, we can discuss more there.

[2014-08-10 19:01] fluke commented on #79
Sorry I wasn't able to help more currently in the process of shifting to a
new place.

[2014-08-10 19:11] alfredxing commented on #79
@kartikluke That's fine, you've done quite a lot already. Thanks!

[2014-08-10 20:54] curiositry opened #86 "Catalogue makes bad style links for long font names"
When the catalogue generates style links for fonts with three word names, it uses a **space** instead of a **+** between the last two words, which doesn’t work.

For example, it produces:

[code]

… which should be:

[code]

Omphalosskeptic

[2014-08-10 21:03] #86 closed, assigned to nobody

[2014-08-10 21:04] alfredxing commented on #86
Thanks for the report! Fixed.

[2014-08-14 03:09] alfredxing commented on #79
#85 is merged. Please re-open if you're still finding that fonts aren't rendering well.

[2014-08-14 03:09] #79 closed, assigned to nobody

[2014-08-14 03:11] alfredxing opened #87 "Another redesign coming up: suggestions please!"
I'm planning another redesign of the Brick website. If you'd like to see anything in the new version of the site, or have any suggestions about the site.

There's currently no timeline for the redesign.

[2014-08-15 00:04] curiositry commented on #87
Three comments:
- The ct ligature in 'actually' doesn’t work on Firefox 31 on Ubuntu 14.04.
- The logo doesn’t look so hot in firefox (it’s fuzzy and clipped):
  ![screenshot from 2014-08-14 17 00 44](https://cloud.githubusercontent.com/assets/3664587/3928716/40105442-240f-11e4-89dc-6dbae00cb703.png)
- It would be nice to be able to add fonts to bucket _from the specimen page_
- It would be nice t

[2014-08-18 03:24] alfredxing commented on #87
@omphalosskeptic Thanks for the suggestions! It is possible to remove fonts from the bucket: simply press the "-" button that replaces the "+" button on the font you want to remove. I agree this is not great UX and there should be a way to remove the fonts from the bucket list element.

[2014-08-20 11:46] etsnyman commented on #87
Hi! Actually, I don't have any suggestions about the design. Only about fonts. Have you thought about adding the nice OFL-licensed font, BPReplay? It's not on Google Fonts, so it might just be a Brick.im exclisive!
Find it here:
http://backpacker.gr/font.asp?m=1&font=bp1
Is there an easy way to contact you for more font suggestions?

[2014-08-20 16:01] alfredxing commented on #87
@etsnyman Just open up a separate issue here on GitHub. Thanks!

[2014-08-21 18:02] alfredxing commented on #84
Sorry for the wait! I've reconverted all of the WOFFs and purged the cache.

[2014-08-21 18:04] alfredxing commented on #84
It works now on my Windows machine, can you confirm?

[2014-08-22 08:52] iangeek commented on #84
Confirmed, all look as it should now. Good work,

[2014-08-22 15:24] alfredxing commented on #84
Awesome!

[2014-08-22 15:24] #84 closed, assigned to nobody

[2014-08-22 16:09] etsnyman opened #88 "Font Suggestion: BPReplay"
Hi! I suggest you start serving the font BPReplay. It is an libre/open font, and it is available under the SIL Open Font License.

Download link here:
http://backpacker.gr/font.asp?m=1&font=bp1

[2014-08-22 18:13] alfredxing commented on #88
Looks like a nice font!

[2014-08-26 16:30] alfredxing commented on #59
Added in cbc5a7838c6fe8c358fd8d46146f20ce4e845bef. Thanks!

[2014-08-26 16:30] #59 closed, assigned to nobody

[2014-08-26 16:31] alfredxing commented on #76
Thanks! Added in e9c3a1b4aa092095ce9ed1e740dea70352a0b926.

[2014-08-26 16:31] #76 closed, assigned to nobody

[2014-08-26 16:32] alfredxing commented on #82
Thanks! Added in b7e09f7f36e3c9ffa026fb4c88f1763f3408ff89.

[2014-08-26 16:32] #82 closed, assigned to nobody

[2014-08-26 16:32] alfredxing commented on #88
Thanks for the suggestion! Added in 3041535d8facb81ee03c88f33058cff6d92ac97d.

[2014-08-26 16:32] #88 closed, assigned to nobody

[2014-08-26 16:41] alfredxing commented on #43
Was added a pretty long time ago, closing. Thanks for the suggestion!

[2014-08-26 16:41] #43 closed, assigned to nobody

[2014-08-26 16:43] alfredxing commented on #62
GitHub Pages supports collections now, but not static files in collections (I believe that's in 2.3.0). We'll wait for that, then we can start a discussion on whether to move back to collections.

[2014-08-26 16:44] alfredxing commented on #35
Added in the last redesign. Thanks for contributing!

[2014-08-26 16:44] #35 closed, assigned to nobody

[2014-08-26 16:44] alfredxing commented on #15
Added with the last redesign. Thanks!

[2014-08-26 16:44] #15 closed, assigned to nobody

[2014-08-26 16:47] namanyayg opened #89 "BPreply - Font Suggestion"
[http://backpacker.gr/font.asp?m=0&font=bp1](Link)

Sans-serif, both titles and body.

[2014-08-26 16:49] alfredxing commented on #12
Any other suggestions before I close this issue? I had originally wanted to get some money to purchase `brick.io`, but it seems that's taken. I still want that gTLD so (non-)targeting is a bit easier.

[2014-08-26 17:07] alfredxing commented on #89
I swear that was just added :laughing:

Dupe #88.

[2014-08-26 17:07] #89 closed, assigned to nobody

[2014-08-26 17:08] namanyayg commented on #89
Oops, haha. Great font, thanks for all your work!

[2014-08-26 17:19] unr commented on #59
Thanks @alfredxing!

[2014-08-26 19:15] etsnyman commented on #88
Great! Thanks! I will suggest some more as I come across them.

[2014-08-27 21:11] elliottslaughter opened #90 "TeX Gyre Pagella - Font Suggestion"
This is another of the TeX Gyre fonts (you already include Heros). Pagella is derived from a clone of Palatino, a font with a long history: https://en.wikipedia.org/wiki/Palatino

You can get it from any TeX distribution, though the most authoritative source is the original GUST project, where it was designed:

http://www.gust.org.pl/projects/e-foundry/tex-gyre/pagella

As with other Gyre fonts, t

[2014-09-01 06:59] davidheijkamp opened #91 "HTTP protocol missing in Usage docs"
In the Usage wiki all URL's seem to miss the HTTP protocol. Testing the fonts without HTTP seemed to work in most browsers, but the Android mail client failed to load the font. After adding HTTP to the link the fonts worked fine in this app as well.

P.S. I didn't realise I could indeed change the wiki, but I did. After that I saw the bucket on [brick.im](http://brick.im) also generates links with

[2014-09-01 16:16] alfredxing commented on #91
Usually not specifying the protocol means the browser can use the same protocol as the page the link is on. For example, on a page served on the HTTP protocol, the link would use HTTP as well, whereas on an HTTPS page, the link would be served with HTTPS.

I would recommend not including the protocol where possible, but of course if this doesn't work, you should include a protocol (I'd suggest HTT

[2014-09-02 09:51] davidheijkamp commented on #91
Ok, thanks for the explanation. Maybe wise to add this to the Usage instructions.

[2014-09-02 15:21] alfredxing commented on #91
Definitely will when the new site goes up (it'll have the docs on the site for better accessibility).

[2014-09-02 15:21] #91 closed, assigned to nobody

[2014-09-03 18:57] etsnyman opened #92 "Font suggestion: DejaVu Font Family"
Ever thought of adding the Deja Vu font family? All information and downloads are available at http://dejavu-fonts.org and the license allows free redistribution and modification.

[2014-09-03 22:48] alfredxing commented on #92
Another family of fonts I forgot to include in the original release. Thanks for the suggestion!

[2014-09-06 09:45] etsnyman commented on #90
A definite font on the to-do-list, in my opinion, should be the Condensed version of TeX Gyre Heros.

[2014-09-06 09:45] etsnyman commented on #92
They just don't seem to look great in Windows, but Mac and Linux seems to render them well.

[2014-09-06 09:47] etsnyman opened #93 "Font Suggestion: Aileron"
Have you seen Aileron? It is a grotesque sans-serif with many weights and corrosponding obliques. Looks really great at large sizes. The creator has stopped development and released the family (which actually seems rather complete) into the public domain.
http://dotcolon.net/font/aileron/

[2014-09-06 21:12] alfredxing commented on #92
With Chrome on Windows now supporting DirectWrite as default, rendering of most fonts should be a lot better than before.

[2014-09-06 21:23] elliottslaughter commented on #57
I would vote for this if it also included the regular CM font (not concrete).

Regarding the source: I believe the more official source for OTF-ized CM is on CTAN: http://www.ctan.org/pkg/cm-unicode . The original link appears to be someone's personal homepage.

[2014-09-07 03:35] alfredxing commented on #57
@elliottslaughter Brick already has Latin Modern, which is a successor to the CM family (they're really similar, actually; LM just extends and optimizes the CM family).

[2014-09-27 04:00] dfc opened #94 "Give credit to font creators on catalogue page"
I have to be honest, I am a little surprised that I have to suggest this. The font catalogue page should at least provide credit and link to the creator of the instant font. The information is in `brick/fonts/XYZ/SOURCE`. Why not make it accessible to people who do not want/know to dig through the git repo? Something really simple like:
# Vollkorn

Friedrich Althausen http://vollkorn-typeface.com

[2014-09-27 04:37] alfredxing commented on #94
Now that you bring this up, I'm surprised as well I haven't thought of this...
I'll definitely incorporate this in the upcoming redesign (`design` branch of this repo).

Thanks for the suggestion!

[2014-10-21 00:01] alfredxing opened #95 "Add League Spartan"
A new geometric sans from The League of Movable Type.

Download page: https://www.theleagueofmoveabletype.com/league-spartan
Source: https://github.com/theleagueof/league-spartan

[2014-10-25 15:06] mel30796 opened #96 "Font suggestion: Arimo"
https://www.google.com/fonts/specimen/Arimo

[2014-10-30 20:34] marek95 opened #97 "Font Suggestion: Roboto (New Version)"
New version is not available in Google fonts but can be downloaded here http://www.google.com/design/spec/resources/roboto-font.html

[2014-10-31 06:02] alfredxing commented on #97
I believe we switched to the new version quite a while ago (just after I/O, in 5a929c15bc13fb51677df2ac882a0fff5ede5370). You can double-check if this is indeed the new version.

[2014-10-31 10:43] marek95 commented on #97
yes it is, i didnt know that.
i also checked roboto condensed but it is still old version.

[2014-10-31 18:00] alfredxing commented on #97
Awesome, thanks for checking! I'll update the condensed version soon.

[2014-11-01 07:40] etsnyman commented on #97
I'm not sure if Google made a new condensed version. I think Android Lollipop will just use the normal version and all its weights...

[2014-11-01 10:15] marek95 commented on #97
it is include in zip file
http://www.google.com/design/spec/resources/roboto-font.html

[2014-11-13 03:16] rstacruz commented on #93
I like it. :+1:

[2014-11-13 03:17] rstacruz opened #98 "Font Suggestion: Fira (light weights)"
Fira Sans only goes down to 300, but there are actually 200 and 100 weights available. Great for headings.

![fira sans 100](http://www.fontsquirrel.com/widgets/font_image/specimen_phrases/cff11c7a4580c384cec67bd4e1e7ff8d)

[2014-11-13 03:59] alfredxing commented on #98
Didn't know that, I'll add it sometime soon.

[2014-11-13 04:37] rstacruz commented on #98
Thanks buddy! This is a great project you've started here, the new site is looking good as well.

[2014-11-17 00:08] robneu opened #99 "Performance Concerns - WOFF2"
First of all, thanks a ton for creating and maintaining this project. It's great to see someone offering up an open source alternative to Google Fonts. We've been discussing switching to Brick as our default web font for our commercial WordPress themes and some issues have been raised about performance when compared with Google Fonts.

I realize Google is probably always going to have the upper ha

[2014-11-17 02:03] alfredxing commented on #99
Thanks for considering Brick!
We don't currently have plans to support WOFF2 due to browser compatibility (it would also nearly double the size of the repository).

Looking at the discussion in your repo, there are a few remarks I'd like to add:
- Google Fonts has improved a lot since Brick was released. I don't know if this was because of Brick or just something Google has been working on, but I

[2014-12-01 12:11] timmarinin opened #100 "Show support of non-latin characters"
It would be great to see if a font support non-latin characters (like cyrillic), because by default browsers will substitute missing characters and it looks ugly (see screenshot)

Related with #11

![marin_000shot2014-12-01151051 1](https://cloud.githubusercontent.com/assets/66025/5245413/445b058a-796c-11e4-8e0a-78b8dd4ffb0b.png)

[2014-12-01 12:12] timmarinin commented on #100
Some fonts support it, btw. If you need help in finding out which fonts from catalogue are supporting cyrillic, I'll glad to help.

For example, Lato supports.
![marin_000shot2014-12-01151149 1](https://cloud.githubusercontent.com/assets/66025/5245422/66878cb4-796c-11e4-972c-5a1954b16d8a.png)

[2014-12-01 21:58] timmarinin commented on #100
FWIW

| Font name | Support cyrillic |
| --- | --- |
| Alegreya | no |
| Alegreya Sans | no |
| Aleo | no |
| Andada | no |
| Anonymous Pro | !! yes |
| Bitter | !! yes |
| BPreplay | no |
| Cardo | no |
| Clear Sans | !! yes |
| Comic Neue | no |
| Crimson | ! yes (only 400 and 400i) |
| Domine | no |
| Droid Serif | no |
| EB Garamond | !! yes |
| Fira Mono | !! yes |
| Fira Sans | !! yes |
| Ge

[2014-12-02 02:29] alfredxing commented on #100
Thanks for this! I'll definitely keep this in mind for the upcoming redesign (#87). I'll likely be showing unicode ranges and/or displaying the full character set.

[2014-12-12 06:32] curiositry opened #101 "Update Source Serif Pro with the three new weights"
Source Serif Pro has been updated, and now has Extra Light, Light, and Black. Do you plan to update it?

See the announcement here: http://blog.typekit.com/2014/12/11/source-serif-update-three-new-weights/

Omphalosskeptic

[2014-12-12 17:51] alfredxing commented on #101
Thanks for notifying me! I'll definitely update it soon. I just finished my exams so hopefully I can finally get around to finishing everything up (the redesign, adding all of the requested fonts, etc.)

[2014-12-12 18:07] alfredxing opened #102 "Remove SVG support"
Just a couple of weeks after SVG support was added in #85, Chrome's stable channel was promoted to version 37, which included DirectWrite support as default. With this, WOFF files rendered much better, making SVG's not as advantageous as before.

The SVG's take up a lot of space in the repository, and add quite a bit of complication to the font addition process.

I just wanted to start a discussio

[2014-12-24 02:10] wentin opened #103 "more styles for EB GARAMOND"
https://github.com/georgd/EB-Garamond

EBGaramond12-Regular: Regular font for design size 12pt
EBGaramond12-Italic: Italic font for design size 12pt
EBGaramond12-Bold: Bold font for design size 12pt (very rough/unusable; not included in releases)
EBGaramond08-Regular: Regular font for design size 8pt
EBGaramond08-Italic: Italic font for design size 8pt (very rough spacing!)
EBGaramond12-SC: Smallc

[2014-12-24 05:33] alfredxing commented on #103
:+1: I'm definitely adding the bold, not sure about the 8pt fonts, small caps, or initials...

[2015-01-16 07:03] fitojb commented on #102
The SVG format is [deprecated for fonts](https://github.com/adobe-fonts/source-sans-pro/issues/46#issuecomment-49169190), and major vendors, such as Adobe, no longer promote it. Please go ahead in removing it.

[2015-01-23 00:40] larsschwarz opened #105 "EB Garamond: Apples and oranges comparison"
http://brick.im/preview/brick.html

The Google <> Brick comparison doesn't make any sense.

Google serves woff2 compressed version (14,7 kb), bricks uses regular woff (217 kb) so the brick file is nearly 15 times larger than the Google version.

More importantly Brick's woff was exported from a later version of EB Garamond: version 000.015, Google still uses 000.012 (4 years older!) and the Brick

[2015-01-23 04:35] alfredxing commented on #105
@larsschwarz Brick converts the OTF fonts provided by the font designer (Georg Duffner in this case), and converts them without modification to WOFF. The resulting filesize reflects that; the font is inherently large with a large character set.

As with the versions, I strongly disagree. It is up to Google what version they use. The fact that they have not updated their fonts to the latest version

[2015-01-23 04:46] waldbach commented on #105
I appreciate the service a lot and have one website about literature using it now. What if Google gets so close to the quality of Brick that you decide to stop the service? Or is Brick here to stay for the coming years?

[2015-01-23 04:48] alfredxing commented on #105
@waldbach I'm writing a post about just that _right now_.

[2015-01-23 04:49] waldbach commented on #105
Ha, great! Thanks for the quick response.

[2015-01-23 05:18] alfredxing commented on #105
@waldbach Sorry for the wait, I'm still working on some stats for the update, but Fastly's dashboard is down so I'm waiting for that.

[2015-01-23 05:39] alfredxing opened #106 "Update on the state of open-source webfonts"
I was going to post this a few weeks ago, and @larsschwarz just reminded me in #105.

I'm not exactly sure when everything happened, but here's a rough timeline from what I gathered:
- March 15, 2014: Brick launches (mainly on [Hacker News](https://news.ycombinator.com/)).
- Summer/Fall 2014: Google starts serving its fonts in WOFF2 format and drastically improves font rendering (not sure of the t

[2015-01-23 05:40] alfredxing commented on #105
@waldbach Posted in #106!

[2015-01-23 05:41] alfredxing commented on #106
Also: if you still think Google Fonts is not "fixed" yet, just say so! (A screenshot would help.)

[2015-01-23 08:11] waldbach commented on #105
Cheers!

[2015-01-23 10:58] larsschwarz commented on #105
Side note: Brick also doesn't use the latest version (which is 0.016, published 9 months ago).

Georg designed EB Garamond with optical sizes in mind, so EBGaramond12-Regular is optimized for smaller body/text sizes. The comparison uses 24px to display it, where Georg uses 21px on his site.
If the designer uses the TT flavored over the PS flavor is probably because he prefers the final hinting/ren

[2015-01-23 12:41] davelab6 commented on #106
I am responsible for the font onboarding at Google Fonts, although I work with Google as a consultant, not an employee, and thus only represent myself and not any of my consulting clients including Google :)

The GF collection is maintained publicly at http://code.google.com/p/googlefontdirectory/ and you can see that no major update to rendering has been done in the last few years; you are right

[2015-01-23 16:40] alfredxing commented on #105
@larsschwarz After looking a bit more closely at the preview pages I did notice that Google Fonts serves EBGaramond-08 while with Brick I chose EBGaramond-12. I apologize for this difference, but would again like to have focused attention on the rendering/features differences (which are almost nonexistent now) rather than comparison of the font itself.

Brick does not generally save with PS, but w

[2015-01-23 16:43] alfredxing commented on #106
@davelab6 Thanks for weighing in on this! I was thinking maybe it was something to do with the TTF to WOFF/WOFF2 conversions or the script Google uses to generate the stylesheets (the default generated CSS looks very different than it did before)?

I was aware of the Typekit change and was debating whether Brick should use OpenType outlines. It's not so much a concern now since Chrome has had Dire

[2015-01-23 16:46] alfredxing commented on #106
Update on stats: the total requests number is 120M as of today. I've updated this above as well.

[2015-01-26 03:48] connor4312 commented on #34
Adding Brick to Bower would be very nice. Some of us would rather not (or are not allowed to) depend on (m)any external hosting solutions. Adding it to bower would be nice, but in the meantime I'm loading the repo via bower by referencing the git repo directly.

[2015-02-10 05:55] curiositry opened #107 "Font Suggestion: Gidole"
I ran across Gidole today and it looks interesting. It’s an open source DIN inspired typeface published under the Open Font Licence. It’s not a full family yet, but 8 weights are planned.

It may be worth considering next time you’re adding fonts, since there’s nothing quite like it in the catelogue at the moment.

https://github.com/gidole/sans
https://gidole.github.io/

[2015-02-10 20:18] alfredxing commented on #107
Nice find as usual! I'll add it in as soon as I have some time.

[2015-03-08 01:02] lachlanjc commented on #97
@alfredxing Have you gotten a chance to update Condensed yet?

[2015-03-08 02:15] alfredxing commented on #97
@lachlanjc Not yet, sorry about that! I have loads of homework and studying to do, but I'll put _a lot_ more work into Brick over the summer!

[2015-03-08 02:16] lachlanjc commented on #97
@alfredxing Sounds good. I feel ya :)

[2015-03-27 02:55] TriforceOfKirby opened #108 "Font Suggestion: Source Han Sans"
https://github.com/adobe-fonts/source-han-sans

[2015-03-27 05:55] alfredxing commented on #108
Thanks! There's a huge backlog of fonts already; I don't think I'll be able to start working on adding fonts until my exams are done (start of May or start of June).

[2015-03-27 12:59] TriforceOfKirby commented on #108
I could help add fonts if you want via pull request.

[2015-03-27 15:04] alfredxing commented on #108
@TriforceOfKirby It is a bit tricky, but if you want to tackle it, that would be great!

[2015-03-28 00:20] TriforceOfKirby commented on #108
@alfredxing Ok so I opened the font in FontForge, then went to `File>Generate Fonts...` selected `Web Open Font` and clicked `Generate`.

It gives me a warning message:

If I click `Yes`, it also gives me another warning message about the em size being 1000 and that it should normally be a power of 2.

Clicking `Yes` again results in a woff format font that is 5kB(5,088 bytes) file, the original f

[2015-03-28 00:46] alfredxing commented on #108
@TriforceOfKirby Yeah, I think it's a problem with this being an Asian font, which might have different data than regular fonts...

I haven't worked with CID fonts before, but maybe try flattening them? [This page](http://fontforge.github.io/cidmenu.html) provides docs on manipulating CID fonts in FontForge.

[2015-03-29 04:36] TriforceOfKirby commented on #108
@alfredxing So flattening seems to work, but I do get a couple warning messages:

I still get the font file, but I'm not sure if it was created correctly. I made a test web page with the font embedded on [Dropbox](https://db.tt/shTyTxjy).

[2015-03-29 05:47] alfredxing commented on #108
That should be okay. It'll just be one character probably, and there's not much we can do other than that. Did the em-size error go away?

Thanks for doing this, by the way. It really helps out!

[2015-03-29 17:12] TriforceOfKirby commented on #108
@alfredxing No, the em-size warning still shows. Although, [this page](http://fontforge.github.io/overview.html#em-unit) on FontForge's website says that 1000 is a perfectly fine em size.

You're welcome! I'll help out with a few more fonts too.

[2015-03-29 19:11] alfredxing commented on #108
Yep, 1000 is fine. I think (though I'm not sure) that 1000 is used for PostScript outlines, and a power of two (like 1024 or 2048) is usually used for TrueType.

[2015-03-30 14:03] TriforceOfKirby commented on #108
@alfredxing So I found a command-line tool by Mozilla for converting sfnt fonts(otf, ttf, etc.) to woff format [here](https://people.mozilla.org/~jkew/woff/).

With that I ran this batch command:
    FOR %A IN (*.otf) DO sfnt2woff %A
And it converted all the files without any errors, so would this method of converting the fonts be ok?

[2015-04-06 05:17] wentin opened #109 "web font print as pdf issue"
I don't even know if this issue is worthy to fix, but here it is:
When I used Lato in my website, and then print the webpage to pdf, and then copy text in the pdf and paste it somewhere else, it becomes text like this:
0DVWHURI6FLHQFH
the same page used roboto condensed also in the header, it is fine.
When I switch to use google font lato, it is fine too.

here is the webpage:
http://wentin.co/r

[2015-04-07 04:43] alfredxing commented on #109
Hmm... What happens if you use try to use Roboto Condensed as the body font?

[2015-04-09 16:23] wentin commented on #109
only Lato causes problem.

[2015-04-09 16:33] alfredxing commented on #109
Might be a problem with the font then. I'll try reconverting it and we'll see if that helps. I'll post here again after that's done!

[2015-04-15 04:29] curiositry opened #110 "Charter?"
Charter is freely available now, any thoughts about adding it?

More info + licence here: http://practicaltypography.com/charter.html

[2015-04-15 05:42] alfredxing commented on #110
Looks like a high quality font! Reminds me of some others in the catalogue (Droid Serif, PT Serif).
It's finals season right now, so I probably won't be doing anything until start/mid-May.

Thanks as always for contributing! :heart:

[2015-05-13 13:35] cbulock opened #112 "Source Sans Pro 400 is returning a 404"
https://brick.a.ssl.fastly.net/fonts/sourcesanspro/400.woff is being returned as the URL for the 400 weight on the Source Sans Pro font, but that is giving a 404 error.

[2015-05-13 13:41] cbulock commented on #112
Turns out this was a temporary issue, appears to be resolved already

[2015-05-13 13:41] #112 closed, assigned to nobody

[2015-05-13 22:02] nemosupremo opened #113 "Lato Medium Missing (404) w/ http?"
Thanks for these fonts - however we started noticing the `Lato 500` throws a 404 errorwhen used with http (http://brick.a.ssl.fastly.net/fonts/lato/500.woff).

[2015-05-14 04:43] alfredxing commented on #113
Thanks for reporting this! The 404 was caused by the recent move to Collections--the `font` directory was renamed to `_fonts`, which didn't play well with our nginx config.

This should be fixed now. Extremely sorry for the inconvenience!

[2015-05-14 04:43] #113 closed, assigned to nobody

[2015-05-14 04:46] alfredxing commented on #112
Thanks for reporting. This is the same issue as #113. I believe it was temporary only because Fastly detected the error and started serving its cached copy from backup. The error did exist on the origin server until I fixed it just then.

Sorry for the inconvenience!

[2015-05-24 19:36] rstacruz opened #114 "Clear sans 900 is broken"
Related: #7

The URL http://brick.a.ssl.fastly.net/fonts/clearsans/900.woff returns a 404.

It's referenced from http://brick.a.ssl.fastly.net/Clear+Sans:900.

[2015-05-24 19:39] rstacruz commented on #114
nevermind... i just realized that the 2nd URL will accept any number given to it, and that 900 actually doesn't exit.

[2015-05-24 19:39] #114 closed, assigned to nobody

[2015-06-10 23:55] aguynamedruchir2 opened #115 "Font Suggestion: Roboto Mono"
https://www.google.com/fonts/specimen/Roboto+Mono

[2015-06-24 07:09] jensscherbl commented on #102
+1

[2015-07-02 01:21] curiositry opened #116 "Blogger Sans"
Blogger Sans might make a good addition to the catalogue. It’s licensed Creative Commons.

http://www.fontsquirrel.com/fonts/blogger-sans

[2015-07-05 03:27] alfredxing commented on #102
SVG support is already removed. Forgot exactly when, but the files aren't in the repo anymore.

[2015-07-05 03:27] #102 closed, assigned to nobody

[2015-07-07 20:23] mike-hearn opened #117 "Support all 5+ Montserrat styles"
I just wanted to give you a heads up that, while Google Fonts only includes two Montserrat styles, there are actually at least five total weights. Brick.im currently has "Regular" and "Bold", but there are also "Light", "Thin" and "Black". Montserrat is an amazing font - one of the best freely available fonts, in my opinion - and the added styles would be good additions to brick.im.

The Google Fo

[2015-07-12 04:02] alfredxing commented on #117
Thanks! I'm quite busy right now, but I will add these when I have some time!

[2015-07-12 04:03] alfredxing commented on #116
Thanks for the suggestion as always :smile:
I'm quite busy right now (full-time summer job) but I will look into it when I have time!

[2015-07-17 10:21] alehandrof commented on #98
There are actually quite a few additional weights including a useful "book" weight, which is between regular and light.

TypeKit handles this by having [two fonts](https://typekit.com/search?utf8=%E2%9C%93&q=fira+sans). One with the typical weights and another with the more unusual ones. It's a compromise, but it works pretty well. I just ported my site over to TypeKit from a hand-rolled Fira set

[2015-08-25 07:35] fphilipe commented on #32
Any chance of including Merriweather Sans as well? :blush: Would love to switch from Google Fonts to Brick, but unfortunately this is a show stopper :cry:

[2015-09-12 22:09] Fastidious opened #118 "Running Brick on Intranet"
How would I go to get Brick running on an Intranet? Is it something that is relatively easy to install?

[2015-09-23 03:27] alfredxing commented on #118
Are you looking to host everything yourself? Or just link to the stylesheet? If the latter, it would require a request to the internet.

If you want to host everything yourself: you can clone this repo, then use Jekyll to build it. Then you can use either the `brick.php` or `brick.go` file for the requests.

[2015-09-23 18:43] Fastidious commented on #118
@alfredxing no need to modify anything on brick.php or brick.go? It will work, just out of the box?

[2015-09-25 19:59] alfredxing commented on #118
@Fastidious It should (after you build it with Jekyll, as mentioned above)! It runs okay on my OS X machine, and in prod it runs on Linux. Let me know if you run into any issues!

[2015-09-25 19:59] alfredxing commented on #118
Oh, actually, the Go version works out of the box, the PHP one would obviously need some server config (I use nginx). Just rewrite everything to that script.

[2015-09-25 20:24] Fastidious commented on #118
@alfredxing I see:

`uri.WriteString("url(//brick.a.ssl.fastly.net/fonts/")`

on the brick.go file (similar on the PHP file). Are you sure that will run fine on an Intranet (no Internet access at all)?

[2015-09-26 05:22] alfredxing commented on #118
Oh, hm, sorry about that! I'm almost completely forgetting how Brick works on the backend.
Changing that to the URL of the server hosting the fonts should work.

Just going back to server configuration as well: this is the nginx rewrite I'm using

[code]

This also means that what I said earlier about the Go file "working out of the box" is incorrect as well: you'll need to run a server like nginx

[2015-10-09 12:30] francescou commented on #18
Hi Alfred, thank you for your great project!

it would be great to add a flag to download a customized font with a subset of the characters (eg. Basic Latin)

[2015-10-13 00:12] alfredxing commented on #18
@francescou I'm thinking about it! Subsetting would be quite difficult, though, since it would require processing each font and storing subsetted versions separately (this takes up a lot more space, as you can imagine).

[2015-12-05 12:42] phoenixenero commented on #117
I found the original Montserrat fonts here: https://github.com/JulietaUla/Montserrat

Will PR tomorrow.

[2015-12-06 10:39] phoenixenero opened #132 "Adding character maps - Getting the available characters."
One of the difficulties of displaying character maps is the fact that you have to access the font files themselves in order to find how many (accessable) glyphs are there. Of course you can do the "dumb" solution and loop across Unicode values, but that would take a _really_ long time, and would leave a lot of gaps.

I finished writing [two Ruby scripts](https://gist.github.com/phoenixenero/ccc7ad

[2015-12-06 19:04] alfredxing commented on #117
Merged in #131!

[2015-12-06 19:04] #117 closed, assigned to nobody

[2015-12-06 20:21] alfredxing commented on #115
Merged in, should be available now! http://brick.im/fonts/robotomono

[2015-12-06 20:21] #115 closed, assigned to nobody

[2015-12-06 20:21] alfredxing commented on #93
Added in #128

[2015-12-06 20:21] #93 closed, assigned to nobody

[2015-12-06 20:22] alfredxing commented on #110
Merged in #127

[2015-12-06 20:22] #110 closed, assigned to nobody

[2015-12-07 05:13] alfredxing commented on #132
This has definitely been on my to-do list for quite a while. I've been doing a bit of searching for tools to programmatically grab info from fonts, and came across https://github.com/behdad/fonttools/, which seems pretty robust and feature-filled. I think it's a part of the Google Fonts toolchain.

[2015-12-07 05:53] phoenixenero commented on #132
Now that I think about it, that is better. That is what [Google uses for subsets](https://github.com/google/fonts/tree/master/tools/encodings).

[2015-12-07 06:55] phoenixenero commented on #132
So I was using the `fonttools` package. This command dumps the `cmap` tables of a font into a .ttx (XML) file.

[code]

This seems to be a lot simpler than my previous workings, lol...

Though I haven't tested it yet, we can access the table data with the [Nokogiri](http://www.nokogiri.org/) Ruby gem. Of course we can just use Regex, but that wouldn't be future-proof.

I will test this further. Wi

[2015-12-07 08:11] phoenixenero commented on #132
Here's a new version of my script, now condensed into 1 .rb file: https://gist.github.com/phoenixenero/c8d40a390bb1acabcf9c

It supports a `-f` flag, which takes in a file pattern glob (ex: `*.otf`, `fonts/*.woff`) as input and outputs the unicode character map of all of the files matched.

[2015-12-07 14:42] phoenixenero commented on #132
![ss 2015-12-07 at 10 41 50](https://cloud.githubusercontent.com/assets/9031092/11629540/c94759e2-9d33-11e5-864a-8c65e9be8068.png)

Alright seems like my implementation is working! Outputs a table markup with the codes! I might need to sort these though, seems like the .charmap generation is unsorted.

**Edit**: It's apparently it's not uncommon for fonts to have multiple `cmap` tables, will corre

[2015-12-08 09:06] phoenixenero opened #135 "Create new default branch + finished character map implementation"
I'm nearly finished on the character map generation feature for Brick. But we need a new default branch to publish updates to.

---

My implementation of the charmap generation relies on 3 Ruby (`.rb`) scripts.
- `generate-charmap.rb` &ndash; This script generates a file containing the available characters of a font. It outputs a file with extension `.charmap` on that same directory as the font fi

[2015-12-08 17:03] alfredxing commented on #135
Sounds reasonable. I'll probably set up Travis to do automatic deploys for this as well as pushing to the origin server.

How's the performance of running these scripts?

[2015-12-09 01:18] phoenixenero commented on #135
30-35 seconds to run.

[2015-12-24 10:36] cljoly commented on #75
@namanyayg Actually the name is Libertinage, like the French word, instead of liberintage.

:+1: I love this font too.

[2016-02-29 05:20] tomByrer opened #138 "WOFF2 please"
[WOFF2 are ~30% smaller than WOFF(1)](https://gist.github.com/sergejmueller/cf6b4f2133bcb3e2f64a), are [supported by 55%](http://caniuse.com/#search=woff2) of browser visits.  Payed [converting API](https://everythingfonts.com/api/convert) is available, & free browser interface is also.

[2016-02-29 05:30] tomByrer opened #139 "host on jsDelivr?"
I help at a [OSS CDN, jsDelivr](https://www.jsdelivr.com/), & floated the idea to host more webfonts there.  I don't have the time to collate fonts (can't just mirror Google Fonts ;) ), but still want to host fonts there.  [jsDelivr](https://www.jsdelivr.com/features/network-map) has 4x+ more POPs than [Fastly](https://www.fastly.com/network-map).  jsDelivr has a huge POP network in China, which i

[2016-03-13 18:55] alfredxing commented on #139
This is definitely something we can look into. A couple of questions though:
- How do you envision the CSS part to work? I'm thinking we could maybe add a flag to switch between CDNs.
- Why is WOFF2 a semi-blocker for this issue? While there are significant decreases in size, adding WOFF2 support would likely mean having both the WOFF and WOFF2 files in the repo, which would mean almost doubling t

[2016-03-14 05:56] tomByrer commented on #139
- I don't think jsDelivr has browser detection support, so it would have to cascade best to worst versions.
- Not too worried about a few extra MB, we also host [JARs](http://www.webjars.org/documentation) which can be larger than webfonts.  Besides, if you're really worried about filesize, you could remove extraneous vector paths...  I am more worried about bandwidth, both server-side & for clien

[2016-03-14 06:05] tomByrer commented on #139
Also note there are 2 holes in [WOFF browser compatibility](http://caniuse.com/#feat=woff); IE8 & down (~1%), Android 4.3 & down (1.5%), & Opera Mini (4.7%).  I'm not too worried; mobile shouldn't download mobile fonts (though could break layouts), & MicroSoft is aggressively upgrading IE8 users.

[2016-03-15 19:36] alfredxing commented on #139
OK! I'll think about it. Another thing I'm considering is that the current WOFFs are generated by FontForge (from both TTFs and OTFs), which doesn't seem to handle WOFF2 at the moment. The one or two WOFF2 conversion tools I've looked at so far only do TTF to WOFF...

[2016-03-16 02:30] tomByrer commented on #139
Not sure how they do it; perhaps convert backwards to TTF first?
https://everythingfonts.com/woff-to-woff2
But I'd suggest Googles' converter if you can export TTF from FontForge.  I think that's what they use on their own CDN.

edit:
https://github.com/odemiral/woff2sfnt-sfnt2woff
https://github.com/masotime/woff2otf

[2016-03-18 15:06] tomByrer commented on #139
I almost forgot this spline point reducer:
https://github.com/googlefonts/fontcrunch

[2016-03-18 19:58] alfredxing commented on #139
Converting back to TTF seems like the only way, at least for now. Not ideal since I'd want to keep CFF outlines for at least some of the problematic fonts.

[2016-03-26 11:33] cljoly commented on #138
:+1:

[2016-06-12 05:52] Celti commented on #139
One advantage to jsDelivr: subresource integrity. While I can always generate the hashes myself, jsDelivr demands versioned (or versionable, at least) URLs so that I know a failing hash means something is _wrong_ and not just that there's a new file version.

[2016-07-08 19:40] etsnyman opened #140 "Font Suggestion: Route 159"
Hi there

I have a suggestion for a new font: Route 159

It is a very nice, high-quality, sans-serif with many weights and true italics from the same person who made Aileron and Vegur.

Font page: http://dotcolon.net/font/route159/
More info: http://fondfont.com/route-159-free-download/

Including it would be really, really helpful and so much appreciated!

[2016-08-12 23:31] cpitclaudel commented on #60
This would be really nice. Also, these aren't huge, are they? XITS Math is 500kB. Compare to 300KB for Linux Libertine, for example. It's large, certainly, but still manageable.

My use case is displaying literate programs (e.g. litterate Haskell), which make heavy uses of symbols.

[2016-08-14 04:00] phoenixenero commented on #60
The size of these fonts are no different from a size of a full-width hero image header. I assume a person (mathematician, programmer, CS guy, etc.) willing enough to use a good math font won't even have (distracting) image headers in the first place, so yeah this is really good.

[2016-11-29 04:48] manfuku opened #143 "Font Suggestion: Sans Guilt (Gill Sans)"
https://github.com/osp/osp.foundry.sans-guilt/tree/master/System%20Gill%20Sans%20Based

http://ospublish.constantvzw.org/foundry/sans-guilt/
The three Sans Guilt fonts have been produce during “Read The Fucking Manual”, an OSP workshop at Deparment 21 (Royal College of Art), using Gimp, Fonzie and Fontforge. They are different versions of Gill Sans based on three different sources.
Sans Guilt MB:

[2017-01-22 08:53] pygy commented on #80
@AlessioLaiso @alfredxing I'm revisiting old issues... any news on this front?

[2017-01-23 14:06] AlessioLaiso commented on #80
@pygy Not really from my side, I didn't get to work on it lately.

[2017-01-27 12:09] AlessioLaiso commented on #80
I've created a pull request that updates the font files of Aleo to version 1.3. This version improves kerning, adds new glyphs and supports 34 new languages.
https://github.com/alfredxing/brick/pull/144

[2017-01-27 12:48] pygy commented on #80
w000t :-)

Thus waiting for the #144 merge to close this.

Many thanks @AlessioLaiso

[2017-02-05 00:14] alfredxing commented on #80
PR merged! The new version is now live.

[2017-02-05 00:14] #80 closed, assigned to nobody

[2017-02-05 14:18] pygy commented on #80
Loaded from a fresh cache (private window) the  bold+italics variant still reads `over filled` and `cry stal`...

http://brick.im/fonts/aleo/

[2017-02-06 01:24] pizlfilip opened #146 "Font suggestion: Karmilla (Karla latin extended)"
Hello,

I want to suggest extending the font Karla with the missing latin-extended characters (for French, German, Norse, Latvian, Icelandic...).
This was made by Manuel Schmalstieg and is available as "Karmilla". It would be really awesome to have that font hosted on brick!

https://github.com/ms-studio/karmilla

Thank you for your amazing work!

[2017-02-06 09:45] AlessioLaiso commented on #80
@pigy I also still see the issues on Brick, but the new fonts look fine for me both in Glyphs and in Adobe CC software:
![image](https://cloud.githubusercontent.com/assets/7041012/22641966/bba442c4-ec50-11e6-8d6a-f2690507456a.png)

[2017-02-09 02:33] alfredxing commented on #80
Oops, forgot to update something on the server! Should be fixed now. Let me know otherwise!

[2017-02-13 12:43] AlessioLaiso commented on #80
@alfredxing Looks good now, thanks!

[2017-05-08 10:00] jimaek commented on #139
The new backend is live. It pulls files directly from npm and github https://github.com/jsdelivr/jsdelivr#usage

Example https://cdn.jsdelivr.net/npm/jquery@3.1.1
Example directory listing https://cdn.jsdelivr.net/npm/jquery@3.1.1/

[2017-08-07 23:21] tracymakes opened #148 "Permission to show a screenshot of Brick in an upcoming book about web design?"
Hey there,

I'm writing and self-publishing a book teaching beginner web design aimed at programmers/developers titled Hello Web Design (https://hellowebbooks.com/learn-design/)

I'm a big fan. May I use a screenshot in the book?

How it'll look: https://www.dropbox.com/s/8o0rw37342wtiim/Screenshot%202017-08-07%2019.18.19.png?dl=0

Additional information:
— The link below is a redirect and will re

[2017-08-10 06:16] alfredxing commented on #148
@limedaring Thanks for reaching out! This is totally fine by me, thanks for the mention 🙂

Let me know if you have any questions, otherwise feel free to close the issue.

[2017-08-10 15:18] tracymakes commented on #148
Thank you! 🙌

[2017-08-10 15:18] #148 closed, assigned to nobody

[2017-08-25 01:14] Foboh opened #149 "The Merriweather font doesn't look right compared to Google's Merriweather"
- [Brick](http://i.imgur.com/4EJrcTp.png)
- [Google](http://i.imgur.com/ZnuWikF.png)

The Brick version does not combine "ffi," "fi," "fj," (etc.) but Google does. Both screenshots are using `text-rendering: optimizeLegibility;`

The letter Q looks better with Google, which is opposite of what I expect from [the preview page](http://brick.im/preview/brick.html) where the letter Q is able to "swoop

[2017-10-29 11:25] nagisa opened #150 "Please enable IPv6 and HTTP/2 support"
So the URL like `https://brick.dualstack.g.shared.global.fastly.net/fonts/` would "just" work.

See https://www.fastly.com/blog/ipv6-fastly.

[2017-12-06 13:38] sscherfke opened #151 "Font suggestion: Hack"
https://github.com/source-foundry/Hack

[2018-04-11 05:45] alfredxing commented on #150
Sorry about lack of action on this — this project is _basically_ in maintenance mode now, I don't have much bandwidth to work on it.

However, I'm doing some backend changes now (I need to renew the servers) so I'll loop this in. Thanks for using Brick!

[2018-04-11 07:40] alfredxing commented on #150
Done in #153 🎉
To activate you'll have to change your CSS URL to use `//brick.freetls.fastly.net`.

[2018-04-11 07:40] #150 closed, assigned to nobody

[2018-05-20 18:01] lachlanjc opened #154 "Font suggestion: IBM Plex"
https://github.com/IBM/plex

[2018-06-06 12:26] vguenichon opened #155 "Error 503 Backend is unhealthy"
I call this : //brick.freetls.fastly.net/Open+Sans:300,400,600,700,900,300i,400i,600i,700i,900i/Montserrat:100,200,300,400,500,600,700,800,900
And get a 503 error.
Any idea ?
The page where you can see it in action : http://www.antidot.net/contact/
Thanks a lot

[2018-06-06 14:28] #57 closed, assigned to nobody

[2018-06-09 01:11] NetOpWibby commented on #155
I'm getting this issue too. Unfortunate.

[2018-06-10 00:17] alfredxing commented on #155
So sorry about this! I had set up alerting but it didn't seem to work. The site should be fixed now (was a backend server issue as the error mentioned) and I will look into how the monitoring broke.

[2018-06-10 00:17] #155 closed, assigned to nobody

[2018-07-12 15:09] chrisfinazzo opened #156 "Merriweather returns a 404"
Getting this error on one of my sites where I have the following font URL:

`https://brick.a.ssl.fastly.net/fonts/Merriweather/700.woff`

Is this because of #153, perhaps?

[2018-07-19 00:56] alfredxing commented on #156
Hi! I don't believe so... are you referencing that URL directly in your code, or using the CSS generation? In either case the font name should be lowercase (i.e. `https://brick.a.ssl.fastly.net/fonts/merriweather/700.woff` should work)

[2018-07-26 15:12] chrisfinazzo commented on #156
Huh. I guess older versions were somehow less strict about this and didn't choke on it. I'll regenerate this and check again to make sure it works.

[2018-07-26 20:16] chrisfinazzo commented on #156
I think this is correct, different fonts, but regenerates and everything loads.

[code]

[2018-07-27 20:07] #156 closed, assigned to nobody

[2019-01-17 02:00] curiositry opened #157 "Font suggestion: Kelvinch"
Paul Miller’s “Kelvinch” (SIL Open Font License) has four variants and might be a nice addition to Brick. It can be found here: https://www.fontsquirrel.com/fonts/kelvinch

[2019-02-17 14:55] Vesely commented on #138
Some update?

[2019-03-29 07:11] fitojb opened #158 "New weight for Ubuntu: Thin (100)"
There is a new weight in the [Ubuntu family](https://brick.im/fonts/ubuntu/); it should be noted it is upright-only, with no italic counterpart.

It is available here: https://launchpad.net/ubuntu/+archive/primary/+files/fonts-ubuntu_0.83-4ubuntu1_all.deb (extract the archive; inside data.tar.xz you’ll find `Ubuntu-Th.ttf`)

[2019-04-17 22:10] wezm opened #159 "All fonts are returning 503 Backend is unhealthy"
E.g. https://brick.freetls.fastly.net/Source+Code+Pro:400

[2019-10-25 10:46] fitojb commented on #158
@alfredxing Do you still accept PRs?

[2020-07-26 03:13] Correct-Syntax opened #160 "Font suggestion: Gothic A1"
Hello, thank you for maintaining this project.

It would be great if you would add the [Gothic A1](https://fonts.google.com/specimen/Gothic+A1?query=gothic+a) font.

Thank you. :)

[2020-10-16 08:05] xplosionmind commented on #159
Same here. After building the website, [Netlify](https://www.netlify.com/) sends me an email notification telling me that my website contains "insecure mixed content", and I verified: it's the CDN fonts delivery. Can this be fixed in some way?

![Screenshot of the email](https://user-images.githubusercontent.com/42862428/96240707-8aeef700-0fa1-11eb-8ba8-802e2c13d934.jpg)

[2020-11-20 05:48] elliottslaughter opened #161 "Support for variable fonts"
Thanks for supporting Brick! I've been using it for a long time, and have been consistently happy with it.

I'm wondering what the prospects might be for supporting variable fonts? [Most browsers are now supported](https://caniuse.com/variable-fonts), and [many fonts now provide variable support](https://fonts.google.com/?vfonly=true).

This isn't just a size optimization. E.g. Source Sans Pro has

[2020-12-08 18:11] dhrxvjhx commented on #160
Yeah, it's a nice, clean, simple font, good for the project

[2021-06-06 22:55] driehuis opened #162 "Font suggestion: DINish"
What this world lacks is yet another DIN styled font. Fortunately, now there is DINish: a professionally designed DIN styled font in eight styles, maintained by a passionate open source aficionado.

Read all about it on https://fonts.playbeing.com/; dive straight into its source on https://github.com/playbeing/dinish, or simply download from https://github.com/playbeing/dinish/releases . Free to u

[2021-08-02 07:57] kmpoppe opened #163 "Required Attribution / Commercial use"
Hi!

I'm planning on unsing a Brick Font on a commerical website, and even though I found Websites using Brick in the Wiki, I wasn't able to find any information on what License this project uses and/or what attribution you'd like to be shown on the websites using the fonts?

Due to German and EU regulations I will be downloading the stylesheet and the woff file to the local webserver to prevent t

[2021-08-06 23:23] driehuis commented on #162
DINish is now available in nine styles: the missing Condensed Italic has been added in v2.006. In a previous update, the font gained support for the Turkish language.

[2021-09-01 08:07] alfredxing commented on #163
Hi! The license of the font you are using should be available in the LICENSE file next to the font files in this repo, e.g. https://github.com/alfredxing/brick/blob/gh-pages/_fonts/inconsolata/LICENSE

The source code for Brick itself is not licensed but that shouldn't be an issue if you are just using the fonts. The stylesheets produced by Brick are not copyrighted.

[2021-09-01 08:07] #163 closed, assigned to nobody

[2021-10-13 23:10] driehuis commented on #162
The v2.012 release includes support for all living European languages, including special OpenType handling for Romanian and Polish. It also includes tabular numbers and old style numbers, as awell as tabular old style numbers.